{{> header}}

<h1>{{title}}</h1>

{{#posts}}
<article>
    {{{html}}}

    <time datetime="{{created}}">
        <a href="{{url}}">
            {{created}}
        </a>
    </time>
</article>
{{/posts}}

{{> footer}}
