    <nav>
        <div>
            {{#prev}}<a href="{{prev.url}}">&larr; {{prev.text}}</a>{{/prev}}
        </div>
        <div style="text-align: right;">
            {{#next}}<a href="{{next.url}}">{{next.text}} &rarr;</a>{{/next}}
        </div>
    </nav>
    <footer>
        {{^index}}<div><a href="{{blog.url}}">{{blog.title}}</a></div>{{/index}}
        <div><a href="./archive.html">Archive</a></div>
    </footer>
</body>
</html>
