    <nav>
        {{#newer}}<a href="{{newer.url}}">&larr; {{newer.text}}</a>{{/newer}}
        {{^newer}}<span></span>{{/newer}}
        {{#older}}<a href="{{older.url}}">{{older.text}} &rarr;</a>{{/older}}
    </nav>
    <footer>
        <span>Anton Verinov</span>
        <a href="./archive.html">archive</a>
        <a href="https://anton.codes">whoami</a>
        <a href="https://twitter.com/zemlanin">twitter</a>
    </footer>
</body>
</html>
