<footer>
    <span>
        {{#prev}}<a href="{{prev}}">&larr; {{prev}}</a>{{/prev}}
    </span>
    <span>
        {{^index}}<a href="index.html">index.html</a>{{/index}}
    </span>
    <span>
        {{#next}}<a href="{{next}}">{{next}} &rarr;</a>{{/next}}
    </span>
</footer>

</body>
</html>
