<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {{#title}}{{title}} - {{/title}}
        {{^title}}{{#post}}{{post.created}} - {{/post}}{{/title}}
        {{blog.title}}
    </title>
    <style type="text/css">
        body {
            max-width: calc(800px - 2em);
            min-height: 100vh;
            margin: auto;

            display: flex;
            flex-direction: column;
            justify-content: center;
            font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
            line-height: 1.5em;
        }

        @media (max-width: 800px) {
            body {
                margin: auto 2em;
            }
        }

        * {
            box-sizing: border-box;
        }

        article {
            border-bottom: 1px solid lightgray;
            margin-bottom: 1em;
            padding-bottom: 1em;
            max-width: 100%;
            overflow-wrap: break-word;
        }

        article img, article video {
            max-width: 100%;
            width: auto;
            max-height: 466px;
            height: auto;
            display: block;
            margin: auto;
        }

        article iframe {
            display: block;
            margin: auto;
            max-width: 100%;
        }

        article time {
            display: block;
            text-align: right;
        }

        article time a {
            color: gray;
            text-decoration: none;
            vertical-align: top;
        }

        article time svg {
            width: 1em;
            height: 1em;
        }

        nav, footer {
            display: flex;
            flex-flow: row wrap;
            margin-bottom: 1em;
            margin-left: -1em;
            margin-right: -1em;
        }

        nav {
            justify-content: space-between;
        }

        footer {
            justify-content: space-around;
        }

        nav span, footer span {
            margin-left: 1em;
            margin-right: 1em;
        }

        article code {
            background: white;
            border: solid 1px #dedede;
            padding: 0.2em 0.4em;
            font-size: 0.9em;
            font-family: "SF Mono",Consolas,"Andale Mono WT","Andale Mono","Lucida Console","Lucida Sans Typewriter","DejaVu Sans Mono","Bitstream Vera Sans Mono","Liberation Mono","Nimbus Mono L",Monaco,"Courier New",Courier,monospace;
        }

        article pre code {
            border: none;
            padding: none;
        }

        article pre {
            background: white;
            border: solid 1px #dedede;
            padding: 0.2em 0.4em;
            overflow-x: scroll;
        }

        a, header a:visited, footer a:visited {
            color: #00a500;
        }

        header a, nav a, footer a {
            text-decoration: none;
        }
    </style>
</head>
<body>
    <header>
        {{#post}}<h2>{{/post}}
        {{^post}}<h1>{{/post}}
            <a href="{{blog.url}}">{{blog.title}}</a>
            {{#title}} / <a href="./{{url}}">{{title}}</a>{{/title}}
        {{#post}}</h2>{{/post}}
        {{^post}}</h1>{{/post}}
    </header>
