{{# card }}
  <figure class="card">
    {{# card.quote }}
      <blockquote cite="{{ card.url }}">
        {{{ card.quote }}}
      </blockquote>
    {{/ card.quote }}
    {{# video }}
      <video playsinline
        src="{{video.src}}"
        {{#video.loop}}
          autoplay muted loop
        {{/video.loop}}
        {{^video.loop}}
          controls
        {{/video.loop}}
        {{# video.width}}
          width="{{video.width}}"
        {{/ video.width}}
        {{# video.height}}
          height="{{video.height}}"
        {{/ video.height}}
        {{# img }}
          preload="none"
          poster="{{ img.src }}"
        {{/ img }}
        {{# video.hls}}
          data-hls
        {{/ video.hls}}
      ></video>
    {{/ video }}
    {{# iframe }}
      {{# externalFrames }}
        <iframe
          src="{{iframe.src}}"
          frameborder="0"
          {{# iframe.width}}width="{{iframe.width}}"{{/ iframe.width}}
          {{# iframe.height}}height="{{iframe.height}}"{{/ iframe.height}}
          allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
          allowfullscreen="1"
          loading="lazy"
        ></iframe>
      {{/ externalFrames }}
      {{^ externalFrames }}
        <a href="{{card.url}}"
          class="future-frame"
          {{# iframe._autoplaySrc }}
            data-src="{{iframe._autoplaySrc}}"
          {{/ iframe._autoplaySrc }}
          {{^ iframe._autoplaySrc }}
            data-src="{{iframe.src}}"
          {{/ iframe._autoplaySrc }}
          {{# iframe.width}}
            data-width="{{iframe.width}}"
          {{/ iframe.width}}
          {{# iframe.height}}
            data-height="{{iframe.height}}"
          {{/ iframe.height}}
        >
          {{# img }}
            <img
              {{# img.alt}}
                alt="{{img.alt}}"
              {{/ img.alt}}
              {{# img.width}}
                width="{{img.width}}"
              {{/ img.width}}
              {{# img.height}}
                height="{{img.height}}"
              {{/ img.height}}
              src="{{img.src}}"
              {{# img.width}}
                {{# img.height}}
                  loading="lazy"
                {{/ img.height}}
              {{/ img.width}}
            >
          {{/ img }}
        </a>
      {{/ externalFrames }}
    {{/ iframe }}
    {{^ iframe }}
      {{^ video }}
        {{# audio }}
          {{# img }}
            <img class="audio-control"
              data-src="{{audio.src}}"
              {{# img.alt}}
                alt="{{img.alt}}"
              {{/ img.alt}}
              {{# img.width}}
                width="{{img.width}}"
              {{/ img.width}}
              {{# img.height}}
                height="{{img.height}}"
              {{/ img.height}}
              src="{{img.src}}"
              {{# img.width}}
                {{# img.height}}
                  loading="lazy"
                {{/ img.height}}
              {{/ img.width}}
            >
          {{/ img }}
        {{/ audio }}
        {{^ audio }}
          <a href="{{card.url}}">
            {{# img }}
              <img
                {{# img.alt}}
                  alt="{{img.alt}}"
                {{/ img.alt}}
                {{# img.width}}
                  width="{{img.width}}"
                {{/ img.width}}
                {{# img.height}}
                  height="{{img.height}}"
                {{/ img.height}}
                src="{{img.src}}"
                {{# img.width}}
                  {{# img.height}}
                    loading="lazy"
                  {{/ img.height}}
                {{/ img.width}}
              >
            {{/ img }}
          </a>
        {{/ audio }}
      {{/ video }}
    {{/ iframe }}

    {{# audio }}
      <audio controls preload="metadata" src="{{audio.src}}"></audio>
    {{/ audio }}

    {{#title}}
      <figcaption>
        {{#withoutLinkedTitle}}
          {{{ card.title }}}{{{ card._titleSuffix }}}<br/>
        {{/withoutLinkedTitle}}
        {{^withoutLinkedTitle}}
          <a href="{{ card.url }}"><b>{{{ card.title }}}</b>{{{ card._titleSuffix }}}<br/></a>
        {{/withoutLinkedTitle}}
        {{# card.description }}
          {{# card._truncateDescription }}
            <i class="truncated">
              {{{ card._descriptionFirstLine }}}
            </i>
          {{/ card._truncateDescription }}
          {{^ card._truncateDescription }}
            <i>
              {{{ card.description }}}
            </i>
          {{/ card._truncateDescription }}
        {{/ card.description }}
      </figcaption>
    {{/title}}
  </figure>
{{/ card }}
