{{# card }}
  <figure class="card">
    {{# card.quote }}
      <blockquote cite="{{ card.url }}">
        {{{ card.quote }}}
      </blockquote>
    {{/ card.quote }}
    {{# video }}
      <video playsinline controls
        src="{{video.src}}"
        {{#video.loop}}
          loop
        {{/video.loop}}
        {{# video.width}}
          width="{{video.width}}"
        {{/ video.width}}
        {{# video.height}}
          height="{{video.height}}"
        {{/ video.height}}
        {{# img }}
          preload="none"
          poster="{{ img.src }}"
        {{/ img }}
      ></video>
    {{/ video }}
    {{# iframe }}
      {{# externalFrames }}
        <iframe
          src="{{iframe.src}}"
          frameborder="0"
          {{# iframe.width}}width="{{iframe.width}}"{{/ iframe.width}}
          {{# iframe.height}}height="{{iframe.height}}"{{/ iframe.height}}
          allow="autoplay; encrypted-media; picture-in-picture"
          allowfullscreen="1"
        ></iframe>
      {{/ externalFrames }}
      {{^ externalFrames }}
        <a href="{{card.url}}"
          class="future-frame"
          data-src="{{iframe.src}}"
          {{# iframe.width}}
            data-width="{{iframe.width}}"
          {{/ iframe.width}}
          {{# iframe.height}}
            data-height="{{iframe.height}}"
          {{/ iframe.height}}
        >
          {{# img }}
            <img
              {{# img.alt}}
                alt="{{img.alt}}"
              {{/ img.alt}}
              {{# img.width}}
                width="{{img.width}}"
              {{/ img.width}}
              {{# img.height}}
                height="{{img.height}}"
              {{/ img.height}}
              src="{{img.src}}"
            >
          {{/ img }}
        </a>
      {{/ externalFrames }}
    {{/ iframe }}
    {{^ iframe }}
      {{^ video }}
        {{# audio }}
          {{# img }}
            <img class="audio-control"
              data-src="{{audio.src}}"
              {{# img.alt}}
                alt="{{img.alt}}"
              {{/ img.alt}}
              {{# img.width}}
                width="{{img.width}}"
              {{/ img.width}}
              {{# img.height}}
                height="{{img.height}}"
              {{/ img.height}}
              src="{{img.src}}"
            >
          {{/ img }}
        {{/ audio }}
        {{^ audio }}
          <a href="{{card.url}}">
            {{# img }}
              <img
                {{# img.alt}}
                  alt="{{img.alt}}"
                {{/ img.alt}}
                {{# img.width}}
                  width="{{img.width}}"
                {{/ img.width}}
                {{# img.height}}
                  height="{{img.height}}"
                {{/ img.height}}
                src="{{img.src}}"
              >
            {{/ img }}
          </a>
        {{/ audio }}
      {{/ video }}
    {{/ iframe }}

    {{# audio }}
      <audio controls preload="metadata" src="{{audio.src}}"></audio>
    {{/ audio }}

    <figcaption>
      <a href="{{ card.url }}"><b>{{{ card.title }}}</b>{{^ card._hideRepeatedSiteName }}{{# card.site_name }} • {{{ card.site_name }}}{{/ card.site_name }}{{/ card._hideRepeatedSiteName }}<br/></a>
      {{# card.description }}
        <i {{# card._truncateDescription }}class="truncated"{{/ card._truncateDescription }}>
          {{{ card.description }}}
        </i>
      {{/ card.description }}
    </figcaption>
  </figure>
{{/ card }}
