<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        {{> bulma.css}}
    </style>
    <style>
      nav {
          margin-top: 1em;
          margin-bottom: 1em;
      }

      textarea, input[name="slug"], form, form button {
          font-size: 1em;
          font-family: "SF Mono", "Menlo-Regular", Consolas, "Andale Mono WT",
          "Andale Mono", "Lucida Console", "Lucida Sans Typewriter",
          "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono",
          "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
      }

      iframe {
          min-height: 70vh;
          border: 1px solid gray;
      }

      #media-bar {
        overflow-x: auto;
        overflow-y: hidden;
        height: 3.5em;
        height: calc(3em + 16px);
        margin-top: 0.25em;
        margin-bottom: 0.25em;
        width: 100%;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
        display: flex;
        flex-wrap: nowrap;
      }

      .media-thumbnail,
      .more-media {
        width: 3em;
        height: 3em;
        background: lightgray;
        word-break: all;
        display: inline-block;
        border: 1px solid transparent;
      }

      .media-thumbnail:hover {
        border-color: #00a500;
      }

      .media-thumbnail.with-extra {
        border-radius: 0.3em 0 0 0.3em;
        border-color: #00a500;
      }

      .media-extra {
        display: inline-flex;
        align-items: center;
        border-radius: 0 0.3em 0.3em 0;
        padding-right: 0.35em;
        border: 1px solid #00a500;
        border-left-width: 0;
      }

      #media-bar .buttons {
        flex-wrap: nowrap;
        padding-left: 0.35em;
      }

      #media-bar .buttons, #media-bar .buttons .button {
        margin-bottom: 0;
      }

      #media-bar .new-media {
        padding-left: 0;
        padding-right: 0.5em;
        display: inline-flex;
        align-items: center;
        flex-wrap: nowrap;
        height: 3em;
      }
    </style>
</head>
<body class="container is-fluid" style="margin: 1em auto 80px; max-width: 60em; padding-left: 0.75em; padding-right: 0.75em;">
    <nav style="display: flex; justify-content: space-between;">
        <a href="/backstage" class="button">&larr; backstage</a>
        {{#post}}
            <div class="field has-addons">
                <div class="control">
                    <button type="submit"
                        formaction="/backstage/delete/"
                        class="control button"
                        onclick="return confirm('delete {{id}}?')"
                        form="main-form"
                        {{^draft}}
                            disabled
                        {{/draft}}
                    >
                        {{#fas}}trash{{/fas}}
                    </button>
                </div>
                <div class="control">
                    <button type="submit"
                        name="draft"
                        value="1"
                        class="button"
                        form="main-form"
                    >
                        {{#draft}}draft{{/draft}}
                        {{^draft}}
                            {{#fas}}eye-slash{{/fas}}
                        {{/draft}}
                    </button>
                </div>
                <div class="control">
                    <button type="submit"
                        name="internal"
                        value="1"
                        class="button"
                        form="main-form"
                    >
                        {{#internal}}internal{{/internal}}
                        {{^internal}}
                            {{#fas}}tools{{/fas}}
                        {{/internal}}
                    </button>
                </div>
                <div class="control">
                    <button type="submit"
                        name="private"
                        value="1"
                        class="button"
                        form="main-form"
                    >
                        {{#private}}private{{/private}}
                        {{^private}}
                            {{#fas}}shield-alt{{/fas}}
                        {{/private}}
                    </button>
                </div>
                <div class="control">
                    <button type="submit"
                        name="public"
                        value="1"
                        class="button"
                        form="main-form"
                        {{#internal}}disabled{{/internal}}
                    >
                        {{#public}}public{{/public}}
                        {{^public}}
                            {{#fas}}newspaper{{/fas}}
                        {{/public}}
                    </button>
                </div>
            </div>
        {{/post}}
    </nav>
    <form method="POST" id="main-form">
        <input type="hidden" name="id" value="{{post.id}}">
        <div class="field is-horizontal" style="justify-content: space-between; display: flex; flex-flow: row wrap">
          <div class="control">
            <div class="select">
              <select name="lang">
                <option value="">lang</option>
                <option value="ru" {{#post.lang=ru}}selected{{/post.lang=ru}}>ru</option>
                <option value="en" {{#post.lang=en}}selected{{/post.lang=en}}>en</option>
                <option value="uk" {{#post.lang=uk}}selected{{/post.lang=uk}}>uk</option>
              </select>
            </div>
          </div>

          <div class="field is-horizontal has-addons" style="flex-grow: 1; padding-left: 0.5em;">
            <div class="control">
                {{#post.slug}}
                    <a href="/{{post.slug}}.html" target="_blank" class="button">/</a>
                {{/post.slug}}
                {{^post.slug}}
                    <span class="button is-static">/</span>
                {{/post.slug}}
            </div>
            <div class="control" style="width: 100%; flex-grow: 1;">
                <input
                    name="slug"
                    pattern="[a-zA-Z0-9_-]+"
                    value="{{post.slug}}"
                    placeholder="slug"
                    class="input"
                    style="width: 100%; flex-grow: 1;"
                    {{#post.internal}}
                        required
                    {{/post.internal}}
                >
                {{^post.internal}}
                  <p class="help has-text-right">
                      <a href="/{{post.id}}.html" target="_blank" class="has-text-grey-light is-size-7">
                          /{{post.id}}.html
                      </a>
                  </p>
                {{/post.internal}}
            </div>
          </div>
        </div>
        <textarea
          name="text"
          placeholder="markdown text"
          class="field textarea"
          rows="12"
        >{{post.text}}</textarea>
        <div id="media-bar">
          <div class="new-media">
            <button type="button"
              class="button"
              data-new-media-upload
            >
              {{#fas}}upload{{/fas}}
            </button>
          </div>
          {{#mediaJson}}
            {{> media-bar.mustache }}
          {{/mediaJson}}
        </div>
        <div class="field is-horizontal"
            style="justify-content: space-between; display: flex; flex-flow: row wrap"
        >
            <div class="field has-addons">
                <div class="control">
                <input
                  type="datetime-local"
                  name="created"
                  value="{{post.created}}"
                  class="input"
                  pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}"
                />
                </div>
                <div class="control">
                    <button type="button"
                        class="button"
                        onclick='document.querySelector("form#main-form").created.value = new Date().toISOString().replace(/:\d{2}\.\d{3}Z$/, "")'
                    >now</button>
                </div>
            </div>
            <div class="field is-horizontal"
              style="justify-content: space-between; display: flex; flex-flow: row wrap"
            >
              {{^post.internal}}
                <div class="field has-addons" style="padding-left: 0.5em">
                  <div class="control">
                    <button type="submit"
                      class="button"
                      formtarget="preview"
                      formaction="/backstage/preview/"
                      onclick="window.activeOnPreview(event)"
                      name="teaser"
                      value="1"
                    >
                      teaser
                    </button>
                  </div>
                  <div class="control">
                    <a class="button" href="/backstage/preview/?id={{post.id}}&teaser=1" target="_blank">
                      {{#fas}}link{{/fas}}
                    </a>
                  </div>
                </div>
              {{/post.internal}}
              <div class="field has-addons" style="padding-left: 0.5em">
                <div class="control">
                  <button type="submit"
                    class="button"
                    formtarget="preview"
                    formaction="/backstage/preview/"
                    onclick="window.activeOnPreview(event)"
                    name="preview"
                    value="1"
                  >
                    preview
                  </button>
                </div>
                <div class="control">
                  <a class="button" href="/backstage/preview/?id={{post.id}}&preview=1" target="_blank">
                    {{#fas}}link{{/fas}}
                  </a>
                </div>
              </div>
              <div class="field has-addons" style="padding-left: 0.5em">
                <div class="control">
                  <button type="submit"
                    class="button"
                    formtarget="preview"
                    formaction="/backstage/preview/"
                    onclick="window.activeOnPreview(event)"
                    name="naked"
                    value="1"
                  >
                    naked
                  </button>
                </div>
                <div class="control">
                  <a class="button" href="/backstage/preview/?id={{post.id}}&naked=1" target="_blank">
                    {{#fas}}link{{/fas}}
                  </a>
                </div>
                {{^post.internal}}
                  <div class="control">
                    <a class="button" href="/backstage/preview/?id={{post.id}}&rss=1" target="_blank">
                      {{#fas}}rss{{/fas}}
                    </a>
                  </div>
                {{/post.internal}}
              </div>
              {{^post.draft}}
                <div
                  class="field has-addons"
                  style="padding-left: 0.5em"

                >
                  <div class="control">
                    <button type="submit"
                      class="button"
                      formtarget="preview"
                      formaction="/backstage/preview/"
                      onclick="window.activeOnPreview(event)"
                      name="diff"
                      value="1"
                    >
                      diff
                    </button>
                  </div>
                  <div class="control">
                    <a class="button" href="/backstage/preview/?id={{post.id}}&diff=1" target="_blank">
                      {{#fas}}link{{/fas}}
                    </a>
                  </div>
                </div>
              {{/post.draft}}
            </div>
        </div>
    </form>
    <iframe name="preview"
        width="100%"
        frameborder="0"
    ></iframe>
    <form id="dummy"></form>
    <form enctype="multipart/form-data"
      action="/backstage/media/?bar=1"
      method="POST"
      id="upload-form"
      style="display: none;"
    >
      <input name="files" type="file" multiple class="input" />
    </form>
    <script>
        /* eslint-env browser */
        window.activeOnPreview = function (event) {
          for (const button of document.querySelectorAll(`button[formtarget="preview"]`)) {
            button.classList[button.name === event.currentTarget.name ? "add" : "remove"]("is-active");
          }

          return true;
        }
    </script>
    <script type="text/javascript">
      {{ > media-bar.js }}
    </script>
</body>
</html>
