<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        {{> bulma.css}}
    </style>
    <style>
        nav {
            margin-top: 1em;
            margin-bottom: 1em;
        }

        textarea, input[name="slug"], form, form button {
            font-size: 1em;
            font-family: "SF Mono", "Menlo-Regular", Consolas, "Andale Mono WT",
            "Andale Mono", "Lucida Console", "Lucida Sans Typewriter",
            "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono",
            "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
        }

        iframe {
            min-height: 40vh;
            border: 1px solid gray;
        }

      .media-thumbnail,
      .more-media {
        width: 64px;
        height: 64px;
        background: lightgray;
        word-break: all;
        display: inline-block;
      }

      .media-extra {
        display: inline-flex;
        align-items: center;
        background-color: lightgray;
        border-radius: 0 1em 1em 0;
      }

      .media-extra .buttons {
        flex-wrap: nowrap;
      }

      .media-extra .buttons, .media-extra .buttons .button {
        margin-bottom: 0;
      }
    </style>
</head>
<body class="container is-fluid" style="margin: 1em 1em 80px 1em">
    <nav style="display: flex; justify-content: space-between;">
        <a href="/backstage" class="button">&larr; backstage</a>
        {{#post}}
            <div class="field has-addons">
                {{#draft}}
                    <div class="control">
                        <button type="submit"
                            formaction="/backstage/delete/"
                            class="control button"
                            onclick="return confirm('delete {{id}}?')"
                            form="main-form"
                        >
                            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 448 512">
                                <path fill="currentColor" d="{{fas.trash}}"></path>
                            </svg>
                        </button>
                    </div>
                {{/draft}}
                <div class="control">
                    <button type="submit"
                        name="draft"
                        value="1"
                        class="button"
                        form="main-form"
                    >
                        {{#draft}}draft{{/draft}}
                        {{^draft}}
                            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 576 512">
                                <path fill="currentColor" d="{{ fas.eye-slash }}"></path>
                            </svg>
                        {{/draft}}
                    </button>
                </div>
                <div class="control">
                    <button type="submit"
                        name="private"
                        value="1"
                        class="button"
                        form="main-form"
                    >
                        {{#private}}private{{/private}}
                        {{^private}}
                            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 512 512">
                                <path fill="currentColor" d="{{ fas.shield-alt }}"></path>
                            </svg>
                        {{/private}}
                    </button>
                </div>
                <div class="control">
                    <button type="submit"
                        name="public"
                        value="1"
                        class="button"
                        form="main-form"
                    >
                        {{#public}}public{{/public}}
                        {{^public}}
                            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 576 512">
                                <path fill="currentColor" d="{{fas.newspaper}}"></path>
                            </svg>
                        {{/public}}
                    </button>
                </div>
            </div>
        {{/post}}
    </nav>
    <form method="POST" id="main-form">
        <input type="hidden" name="id" value="{{post.id}}">
        <div
            {{#post.slug}}
                class="field is-horizontal has-addons"
            {{/post.slug}}
            {{^post.slug}}
                class="field is-horizontal"
            {{/post.slug}}
        >
            <div class="control" style="width: 100%; flex-grow: 1;">
                <input
                    name="slug"
                    pattern="[a-zA-Z0-9_-]+"
                    value="{{post.slug}}"
                    placeholder="/slug"
                    class="input"
                    style="width: 100%; flex-grow: 1;"
                >
                <p class="help has-text-right">
                    <a href="/{{post.id}}.html" target="_blank" class="has-text-grey-light is-size-7">
                        /{{post.id}}.html
                    </a>
                </p>
            </div>
            {{#post.slug}}
                <div class="control">
                    <a href="/{{post.slug}}.html" target="_blank" class="button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 576 512">
                            <path fill="currentColor" d="{{fas.link}}"></path>
                        </svg>
                    </a>
                </div>
            {{/post.slug}}
        </div>
        <textarea
            name="text"
            placeholder="markdown text"
            class="field textarea"
            rows="8"
        >{{{post.text}}}</textarea>
        <div style="overflow-x: scroll; height: 68px; width: 100%; white-space: nowrap; -webkit-overflow-scrolling: touch;">
          <ul>
            {{#media}}
              <li style="display: inline-flex;">
                <a
                  class="media-thumbnail"
                  data-id="{{id}}"
                  {{#icon}}
                    style="background-image: url('{{{icon}}}'); background-size: cover;"
                  {{/icon}}
                  onclick='document.querySelector(`.media-extra[data-id="{{id}}"]`).classList.toggle("is-hidden")'
                >
                  <span class="tag" style="opacity: 0.7">{{ext}}</span>
                </a>
                <div class="media-extra is-hidden" data-id="{{id}}">
                  <div class="buttons has-addons">
                    <a href="/media/{{id}}.{{ext}}" target="_blank" class="button">
                      <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 576 512">
                          <path fill="currentColor" d="{{fas.external-link-alt}}"></path>
                      </svg>
                    </a>
                  </div>
                  <div class="buttons has-addons">
                    <button type="button"
                      class="button"
                      onclick="window.appendText(`/media/{{id}}.{{ext}}`)"
                    >original</button>
                  </div>
                  {{#existingConversions}}
                    <div class="buttons has-addons">
                      <button type="button"
                        class="button"
                        onclick="window.appendText(`/media/{{media_id}}/{{tag}}.{{ext}}`)"
                      >{{tag}}</button>
                      <button type="button"
                        class="button control is-danger"
                        data-convert-id="{{media_id}}"
                        data-convert-tag="{{tag}}"
                        data-convert-action="delete"
                      >
                        -
                      </button>
                    </div>
                  {{/existingConversions}}
                  {{#possibleConversions}}
                    <div class="buttons has-addons">
                      <button type="button" class="button" disabled>{{tag}}</button>
                      <button type="button"
                        class="button"
                        data-convert-id="{{media_id}}"
                        data-convert-tag="{{tag}}"
                        data-convert-action="create"
                      >
                        +
                      </button>
                    </div>
                  {{/possibleConversions}}
                </div>
              </li>
            {{/media}}
          </ul>
        </div>
        <div class="field is-horizontal"
            style="justify-content: space-between; display: flex; flex-flow: row wrap"
        >
            <div class="field has-addons">
                <div class="control">
                <input
                    type="datetime-local"
                    name="created"
                    value="{{post.created}}"
                    class="input"
                    pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}"
                />
                </div>
                <div class="control">
                    <button type="button"
                        class="button"
                        onclick='document.querySelector("form#main-form").created.value = new Date().toISOString().replace(/:\d{2}\.\d{3}Z$/, "")'
                    >now</button>
                </div>
            </div>
            <div class="tabs">
                <ul>
                    <li>
                        <button type="submit"
                            formtarget="preview"
                            formaction="/backstage/preview/"
                            style="border: none; background: none;"
                            onclick="window.tabClick(event)"
                            name="teaser"
                            value="1" 
                        >
                            <a>teaser</a>
                        </button>
                    </li>
                    <li>
                        <button type="submit"
                            formtarget="preview"
                            formaction="/backstage/preview/"
                            style="border: none; background: none;"
                            onclick="window.tabClick(event)"
                        >
                            <a>preview</a>
                        </button>
                    </li>
                    <li>
                        <button type="submit"
                            formtarget="preview"
                            formaction="/backstage/media/"
                            formmethod="GET"
                            form="dummy"
                            style="border: none; background: none;"
                            onclick="window.tabClick(event)"
                        >
                            <a>media</a>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </form>
    <iframe name="preview"
        width="100%"
        frameborder="0"
    ></iframe>
    <form id="dummy"></form>
    <script>
        /* eslint-env browser */
        window.appendText = function (text) {
            text = text.trim();

            const textarea = document.querySelector('textarea[name="text"]');
            const { selectionStart, selectionEnd } = textarea;
            textarea.value =
              textarea.value.slice(0, selectionStart)
              + text
              + textarea.value.slice(selectionEnd);

            textarea.focus()
            textarea.selectionStart = selectionStart;
            textarea.selectionEnd = selectionEnd + text.length;
        }

        window.tabClick = function (event) {
            for (const tab of event.target.closest(".tabs").querySelectorAll("li")) {
                tab.classList[tab.contains(event.currentTarget) ? "add" : "remove"]("is-active");
            }

            return true;
        }
    </script>
</body>
</html>
