<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" xmlns:og="http://opengraphprotocol.org/schema/">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/vnd.microsoft.icon" href="{{ blog.static.favicon.ico }}" />
  <link rel="icon" type="image/png" href="{{ blog.static.favicon.png }}" />
  <link rel="icon" type="image/svg+xml" href="{{ blog.static.favicon.svg }}" />
  <link rel="apple-touch-icon-precomposed" href="{{ blog.static.favicon.png }}" />
  <link rel="mask-icon" href="{{ blog.static.mask-icon.svg }}" color="#00a500" />
  <title>
    {{#title}}{{title}} - {{/title}}
    {{blog.title}}
  </title>
  <style type="text/css">
    {{> header.css}}
    {{> highlight.css}}
  </style>
  <script type="text/javascript">
    {{> header.js}}
  </script>
</head>
<body>
<header style="display: flex; justify-content: space-between; border-bottom: 2px #ddd solid">
  <a href="/backstage">&larr;</a>
  <form method="GET" action="/backstage/embeds">
    <input name="url" value="{{ url }}"
      {{^ card }}autofocus{{/ card }}
    >
    <button>&rarr;</button>
  </form>
  <form method="POST" action="#">
    <button name="delete">delete</button>
    <a>@ 2019-07-27</a>
    <button name="save">save</button>
  </form>
</header>
<main>

<article>
  {{# card }}
  <figure class="card">
    {{# video }}
      <video playsinline controls preload="none"
        src="{{video.src}}"
        {{# video.width}}
          width="{{video.width}}"
        {{/ video.width}}
        {{# video.height}}
          height="{{video.height}}"
        {{/ video.height}}
        {{# img }}
          poster="{{ img.src }}"
        {{/ img }}
      ></video>
    {{/ video }}
    {{# iframe }}
      <a href="{{graph.url}}"
        class="future-frame"
        data-src="{{iframe.src}}"
        {{# iframe.width}}
          data-width="{{iframe.width}}"
        {{/ iframe.width}}
        {{# iframe.height}}
          data-height="{{iframe.height}}"
        {{/ iframe.height}}
      >
        {{# img }}
          <img
            {{# img.alt}}
              alt="{{img.alt}}"
            {{/ img.alt}}
            {{# img.width}}
              width="{{img.width}}"
            {{/ img.width}}
            {{# img.height}}
              height="{{img.height}}"
            {{/ img.height}}
            src="{{img.src}}"
          >
        {{/ img }}
      </a>
    {{/ iframe }}
    {{^ iframe }}
      {{^ video }}
        {{# audio }}
          {{# img }}
            <img class="audio-control"
              data-src="{{audio.src}}"
              {{# img.alt}}
                alt="{{img.alt}}"
              {{/ img.alt}}
              {{# img.width}}
                width="{{img.width}}"
              {{/ img.width}}
              {{# img.height}}
                height="{{img.height}}"
              {{/ img.height}}
              src="{{img.src}}"
            >
          {{/ img }}
        {{/ audio }}
        {{^ audio }}
          <a href="{{graph.url}}">
            {{# img }}
              <img
                {{# img.alt}}
                  alt="{{img.alt}}"
                {{/ img.alt}}
                {{# img.width}}
                  width="{{img.width}}"
                {{/ img.width}}
                {{# img.height}}
                  height="{{img.height}}"
                {{/ img.height}}
                src="{{img.src}}"
              >
            {{/ img }}
          </a>
        {{/ audio }}
      {{/ video }}
    {{/ iframe }}

    {{# audio }}
      <audio controls preload="metadata" src="{{audio.src}}"></audio>
    {{/ audio }}

    <figcaption>
      <a href="{{ graph.url }}"><b>{{ graph.title }}</b>{{# graph.site_name }} • {{ graph.site_name }}{{/ graph.site_name }}</a>
      {{# graph.description }}
        <i>{{ graph.description }}</i>
      {{/ graph.description }}
    </figcaption>
  </figure>
  {{/ card }}

  <pre><code>{{ graphJSON }}</code></pre>
</article>

</main>
</body>
</html>
