<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    {{> bulma.css}}
    {{> header.blog.css}}

    nav {
      margin-top: 1em;
      margin-bottom: 1em;
    }
  </style>
  <script type="text/javascript">
    {{> header.blog.js}}
  </script>
</head>
<body class="container light" style="margin: 1em auto 80px; max-width: 60em; padding-left: 0.75em; padding-right: 0.75em;">
  <nav style="display: flex; justify-content: space-between;">
    <div class="field has-addons">
      <div class="control">
        <a class="button" href="/backstage">&larr; backstage</a>
      </div>
      <div class="control">
        <a class="button" href="/backstage/embeds">embeds</a>
      </div>
    </div>

    <form method="POST" action="#" class="field has-addons">
      <div class="control">
        {{# status.saved }}
          <button class="button" name="delete" value="1" onclick="return confirm('are you sure?');">delete</button>
        {{/ status.saved }}
        {{^ status.saved }}
          <button class="button" disabled>delete</button>
        {{/ status.saved }}
      </div>
      <input type="hidden" name="original_url" value="{{url}}">
      {{# status.requested }}
        <input type="hidden" name="mimetype" value="{{mimetype}}">
        <input type="hidden" name="raw_metadata" value="{{rawMetadataJSON}}">
        <div class="control">
          <button class="button" name="save" value="1">save</button>
        </div>
      {{/ status.requested }}
      {{^ status.requested }}
        <div class="control">
          <button class="button" disabled>save</button>
        </div>
      {{/ status.requested }}
      {{# status.saved }}
        {{# linkblog.id }}
          <div class="control">
            <button class="button" name="delete-from-linkblog" value="1">un-linkblog</button>
          </div>
        {{/ linkblog.id }}
        {{^ linkblog.id }}
          <div class="control">
            <button class="button" name="save-to-linkblog" value="1">linkblog</button>
          </div>
        {{/ linkblog.id }}
      {{/ status.saved }}
      {{^ status.saved }}
        <div class="control">
          <button class="button" disabled>linkblog</button>
        </div>
      {{/ status.saved }}
    </form>
  </nav>

  <form
    class="field has-addons level-right"
    action="/backstage/embeds"
    method="GET"
  >
    <div class="control is-expanded">
      <input class="input" name="url" type="url" value="{{ url }}"
        {{^ cardHTML }}autofocus{{/ cardHTML }}
      >
    </div>
    <div class="control">
      <button class="button">&rarr;</button>
    </div>
    <div class="control">
      <button class="button" name="naked" value="1">&rarr; naked</button>
    </div>
    <div class="control">
      <button  class="button" name="request" value="1">&circlearrowright;</button>
    </div>
  </form>

<article>
  {{# existingEmbed }}
    <a href="{{ existingEmbed.backstageUrl }}"><h2>saved @ {{ existingEmbed.created }}</h2></a>
  {{/ existingEmbed }}

  {{{ cardHTML }}}

  {{# requested }}
  <pre style="margin-bottom: 1em;"><code>{{ requested.cardJSON }}</code></pre>
  {{/ requested }}

  {{# requested.parsedMetadataJSON }}
  <pre style="margin-bottom: 1em;"><code>{{ requested.parsedMetadataJSON }}</code></pre>
  {{/ requested.parsedMetadataJSON }}

  <pre {{^ rawMetadata }}hidden{{/ rawMetadata }}><code>{{# rawMetadata }}{{#name}}&lt;meta name="{{name}}" content="{{content}}"&gt;
{{/name}}{{#property}}&lt;meta property="{{property}}" content="{{content}}"&gt;
{{/property}}{{#link}}&lt;link {{#rel}}rel="{{rel}}" {{/rel}}type="{{type}}" href="{{href}}" {{#sizes}}sizes="{{sizes}}" {{/sizes}}&gt;
{{/link}}{{#header}}{{key}}: {{value}}
{{/header}}{{/ rawMetadata }}</code></pre>
</article>
</body>
</html>
