{{> header}}

<article>
  <figure class="card">
    {{# iframe }}
      <a href="{{graph.url}}"
        class="future-frame"
        data-src="{{iframe.src}}"
        {{# iframe.width}}
          data-width="{{iframe.width}}"
        {{/ iframe.width}}
        {{# iframe.height}}
          data-height="{{iframe.height}}"
        {{/ iframe.height}}
      >
        {{# img }}
          <img
            {{# alt}}
              alt="{{alt}}"
            {{/ alt}}
            {{# width}}
              width="{{width}}"
            {{/ width}}
            {{# height}}
              height="{{height}}"
            {{/ height}}
            src="{{src}}"
          >
        {{/ img }}
      </a>
    {{/ iframe }}
    {{^ iframe }}
      <a href="{{graph.url}}">
        {{# img }}
          <img
            {{# alt}}
              alt="{{alt}}"
            {{/ alt}}
            {{# width}}
              width="{{width}}"
            {{/ width}}
            {{# height}}
              height="{{height}}"
            {{/ height}}
            src="{{src}}"
          >
        {{/ img }}
      </a>
    {{/ iframe }}

    <figcaption>
      <a href="{{ graph.url }}"><b>{{ graph.title }}</b> • {{ graph.site_name }}</a>
      {{# graph.description }}
        <i>{{ graph.description }}</i>
      {{/ graph.description }}
    </figcaption>
  </figure>

  <pre><code>{{ graphJSON }}</code></pre>
</article>

{{> footer}}
