<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        {{> bulma.css}}
    </style>
    <style>
        * {
            box-sizing: border-box;
        }
    </style>
</head>
<body class="container is-fluid" style="margin: 1em auto 80px; max-width: 60em; padding-left: 0.75em; padding-right: 0.75em;">
    <nav style="display: flex; justify-content: space-between;">
        <a href="/backstage" class="button">&larr; backstage</a>
        <div style="display: flex; justify-content: space-between;" class="field has-addons">
          <form method="POST" target="stdout" class="control">
              <button class="control button" name="generator" value="default-media">
                  default conversions
              </button>
          </form>
          <form method="POST" target="stdout" class="control">
              <button class="control button" name="generator" value="pages">
                  pages
              </button>
          </form>
        </div>
    </nav>
    <iframe name="stdout"
        width="100%"
        frameborder="0"
        class="field textarea"
        style="margin-top: 1em; min-height: 80vh;"
    ></iframe>
</body>
</html>
