<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        {{> bulma.css}}

        .card {
          overflow-wrap: break-word;
        }

        .card-content img,
        .card-content video,
        .card-content audio {
          max-width: 100%;
          width: auto;
          max-height: 18em;
          height: auto;
          display: block;
          margin: auto;
        }

        .card-content iframe,
        .card-content a.future-frame {
          display: block;
          margin: auto;
          max-width: 100%;
        }

        .card-content a.future-frame {
          position: relative;
          text-decoration: none;
        }

        .card-content a.future-frame:after {
          display: block;
          width: 100%;
          content: "▶ play";
          text-align: center;
          background: #eee;
        }

        .card-content a.future-frame:hover:after {
          color: white;
          background: #00a500;
        }

        @keyframes loadingopacity {
          from {
            opacity: 0.3;
          }

          to {
            opacity: 1;
          }
        }

        .card-content a.future-frame.loading:hover:after {
          color: unset;
          background: none;
        }

        .card-content a.future-frame.loading:after {
          content: "•••";
          animation: loadingopacity 0.4s ease-in-out infinite alternate-reverse;
        }
    </style>
    <script type="text/javascript">
        /* eslint-env browser */
        document.addEventListener("DOMContentLoaded", function() {
          function handleFutureFrame(e) {
            if (e.ctrlKey || e.metaKey) {
              return true;
            }

            var target = e.currentTarget;
            var img = target.querySelector("img");
            var width = Math.min(
              +target.getAttribute("data-width") || Infinity,
              (img && (img.width || img.clientWidth)) || 640
            );
            var height = Math.min(
              +target.getAttribute("data-height") || Infinity,
              (img && (img.height || img.clientHeight)) || 360
            );
            var background = target.getAttribute("data-background");
            target.removeEventListener("click", handleFutureFrame);
            target.classList.add("loading");
            var i = document.createElement("iframe");
            i.setAttribute("src", target.getAttribute("data-src"));
            i.setAttribute("frameborder", 0);
            i.setAttribute("width", width);
            i.setAttribute("height", 0);
            i.setAttribute("allow", "autoplay; encrypted-media");
            i.setAttribute("allowfullscreen", 1);
            if (background) {
              i.style.background = background;
            }
            target.parentNode.insertBefore(i, target);
            i.addEventListener("load", function() {
              i.setAttribute("height", height);
              target.style.display = "none";
            });
            e.preventDefault();
          }

          Array.prototype.forEach.call(
            document.querySelectorAll("a.future-frame[data-src]"),
            function(ff) {
              ff.addEventListener("click", handleFutureFrame);
            }
          );
        });
    </script>
</head>
<body class="container is-fluid" style="margin: 1em 1em 80px 1em">
    <nav class="field">
        <a href="/" class="button">blog</a>
        <a href="/backstage/edit" class="button">new post</a>
        <a href="/backstage/media" class="button">media</a>
        <a href="/backstage/embeds" class="button">embeds</a>
        <a href="/backstage/generate" class="button">generate</a>
        {{#gauges.id}}
          <a href="https://secure.gaug.es/dashboard#/gauges/{{gauges.id}}/overview"
            class="button"
          ><img src="/backstage/gauges.svg" style="height:1em; width: 3em"></a>
        {{/gauges.id}}
        {{# devMode.canEnter }}
          <a href="/enter_dev" class="button">&#128679;</a>
        {{/ devMode.canEnter }}
        {{# devMode.canExit }}
          <a href="/exit_dev" class="button">&#128120;</a>
        {{/ devMode.canExit }}
    </nav>

    {{#suggestion}}
        <article class="message is-link">
            <div class="message-body">
              <a href="{{{url}}}">
                {{text}}
              </a>
            </div>
        </article>
    {{/suggestion}}

    {{#posts}}
        <div class="card">
            <div class="card-content">
                {{{htmlTitle}}}

                {{#longread}}
                  {{{teaser}}}
                {{/longread}}

                {{^longread}}
                  {{{html}}}
                {{/longread}}
            </div>
            <footer class="card-footer">
                {{#draft}}<div class="card-footer-item">draft</div>{{/draft}}
                {{^draft}}
                    <a class="card-footer-item" href="{{urls.permalink}}">
                        {{#private}}private{{/private}}
                        {{#public}}public{{/public}}
                    </a>
                {{/draft}}
                <a class="card-footer-item" href="{{urls.edit}}">edit</a>
                <a class="card-footer-item" href="{{urls.preview}}">preview</a>
            </footer>
        </div>
    {{/posts}}

    <nav class="field" style="margin-top: 0.5em">
        {{#urls.newer}}<a class="button" href="{{{urls.newer}}}">&larr; newer</a>{{/urls.newer}}
        {{^urls.newer}}<button class="button" disabled>&larr; newer</button>{{/urls.newer}}
        {{#urls.older}}<a class="button" href="{{{urls.older}}}">older &rarr;</a>{{/urls.older}}
        {{^urls.older}}<button class="button" disabled>older &rarr;</button>{{/urls.older}}
    </nav>

    <form method="POST" action="{{urls.jwt}}">
        <button>jwt</button>
    </form>

    <div>
        <a href="{{urls.logout}}">logout</a>
    </div>
</body>
</html>
