<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        {{> bulma.css}}
    </style>
    <style>
      * {
        box-sizing: border-box;
      }

      nav {
        margin-top: 1em;
        margin-bottom: 1em;
      }

      textarea,
      input[name="slug"]{
        width: 100%;
        font-size: 1em;
        font-family: "SF Mono", "Menlo-Regular", Consolas, "Andale Mono WT",
          "Andale Mono", "Lucida Console", "Lucida Sans Typewriter",
          "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono",
          "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
      }

      textarea {
        min-height: 40vh;
      }

      section {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin-bottom: 64px;
      }

      section .media-thumbnail,
      section .more-media {
        width: 64px;
        height: 64px;
        background: lightgray;
        word-break: all;
        margin: 2px;
      }

      section .more-media {
        flex-grow: 1;
      }
    </style>
</head>
<body class="container" style="margin: 1em auto 80px; max-width: 60em; padding-left: 0.75em; padding-right: 0.75em;">
    <nav class="level">
      <div class="level-left">
        <a class="button" href="/backstage">&larr; backstage</a>
      </div>
      <form enctype="multipart/form-data"
        action="/backstage/media/"
        method="POST"
        class="field has-addons level-right"
      >
        <div class="control is-expanded">
          <input name="files" type="file" multiple class="input" />
        </div>
        <div class="control">
          <button class="button">+</button>
        </div>
      </form>
    </nav>

    <section>
      {{#media}}
        <a
          class="media-thumbnail"
          target="_blank"
          href="/media/{{id}}.{{ext}}"
          data-id="{{id}}"
          {{#icon}}
            style="background-image: url('{{{icon}}}'); background-size: cover;"
          {{/icon}}
          onclick="window.expandMedia(event, this)"
        >
          <span class="tag" style="opacity: 0.7">{{ext}}</span>
        </a>
      {{/media}}
      {{#urls.moreMedia}}
        <div class="more-media" onclick="window.loadMore(this)" data-src="{{urls.moreMedia}}">
          ...
        </div>
      {{/urls.moreMedia}}
    </section>
    <script>
      /* eslint-env browser */
      if (window.top != window) {
        document.querySelector('nav').hidden = true;
      }

      window.loadMore = function(el) {
        const parent = el.parentNode;
        const url = el.dataset.src;
        fetch(url, { credentials: "include" })
          .then(async r => {
            const htmlTag = document.createElement("html");
            htmlTag.innerHTML = await r.text();
            for (const div of htmlTag.querySelectorAll(
              "section .media-thumbnail, section .more-media"
            )) {
              parent.appendChild(div);
            }
            parent.removeChild(el);
          })
          .catch(e => {
            el.innerText = e.toString();
          });
      };

      window.expandMedia = function(event, el) {
        event.preventDefault();
        location.href = "/backstage/media/?id=" + el.dataset.id;
        return;
      };
    </script>
</body>
</html>
