<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        {{> bulma.css}}
    </style>
    <style>
      nav {
        margin-top: 1em;
        margin-bottom: 1em;
      }

      textarea,
      input[name="slug"]{
        width: 100%;
        font-size: 1em;
        font-family: "SF Mono", "Menlo-Regular", Consolas, "Andale Mono WT",
          "Andale Mono", "Lucida Console", "Lucida Sans Typewriter",
          "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono",
          "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
      }

      textarea {
        min-height: 40vh;
      }

      section .media-expanded img,
      section .media-expanded video,
      section .media-expanded audio {
        max-width: 100%;
        width: auto;
        max-height: 22.5em;
        height: auto;
        display: block;
        margin: auto;
      }
    </style>
</head>
<body class="container" style="margin: 1em auto 80px; max-width: 60em; padding-left: 0.75em; padding-right: 0.75em;">
    <nav class="level">
      <div class="level-left field has-addons">
        <div class="control">
          <a class="button" href="/backstage">&larr; backstage</a>
        </div>
        <div class="control">
          <a class="button" href="/backstage/media">media</a>
        </div>
      </div>
      <form enctype="multipart/form-data"
        action="/backstage/media/"
        method="POST"
        class="field has-addons level-right"
      >
        <div class="control is-expanded">
          <input name="files" type="file" multiple class="input" />
        </div>
        <div class="control">
          <button class="button">+</button>
        </div>
      </form>
    </nav>

    <section class="columns">
      <div class="column media-expanded">
        {{{media.displayHtml}}}
      </div>

      <div class="column">
        <div class="section">
          <div class="tags has-addons">
            <a href="/media/{{media.id}}.{{media.ext}}" class="tag">
              original.{{media.ext}} / {{media.size}}
            </a>
            {{^posts}}
            <form method="POST" class="tag is-danger">
              <button class="delete is-small" name="delete" value="1" onclick="return confirm('are you sure?')">delete</button>
            </form>
            {{/posts}}
          </div>
          <span class="title is-4">conversions:</span>
          {{^existingConversions}}
            {{^possibleConversions}}
              <div>none</div>
            {{/possibleConversions}}
          {{/existingConversions}}
          {{#existingConversions}}
            <div class="tags has-addons">
              <a href="/media/{{media_id}}/{{tag}}.{{ext}}" class="tag">
                {{tag}}.{{ext}} / {{size}}
              </a>
              <form method="POST"
                action="/backstage/convert/?id={{media_id}}&tag={{tag}}"
                class="tag is-danger"
              >
                <input type="hidden" name="id" value="{{media_id}}">
                <input type="hidden" name="tag" value="{{tag}}">
                <button class="delete is-small"
                  name="delete"
                  value="1"
                  onclick="return confirm('are you sure?')"
                >delete</button>
              </form>
            </div>
          {{/existingConversions}}
          {{#possibleConversions}}
              <form method="POST"
                action="/backstage/convert/?id={{media_id}}&tag={{tag}}"
                style="display: inline-block;"
              >
                <input type="hidden" name="id" value="{{media_id}}">
                <input type="hidden" name="tag" value="{{tag}}">
                <button type="submit" class="button tag">
                  <span>
                    {{tag}}
                  </span>
                  &nbsp;
                  <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" style="vertical-align:middle" viewBox="0 0 640 512"><path fill="currentColor" d="{{fas.plus}}"></path></svg>
                </button>
              </form>
          {{/possibleConversions}}
        </div>

        <div class="section">
          <span class="title is-4">posts:</span>
          <ul>
            {{#posts}}
              <li class="level" style="display: flex">
                {{#draft}}
                <span class="level-right">
                  <a href="/backstage/edit/?id={{id}}">/{{slugOrId}}</a>
                  &nbsp;<sup>[d]</sup>
                </span>
                {{/draft}}
                {{^draft}}
                <a class="level-right" href="/{{slugOrId}}.html">/{{slugOrId}}.html</a>
                {{/draft}}
                <a class="level-right" href="/backstage/edit/?id={{id}}">edit</a>
              </li>
            {{/posts}}
            {{^posts}}
              <div class="level" style="display: flex">
                <span>nothing yet</span>
                <a href="/backstage/edit/?text=![](/media/{{media.id}}.{{media.ext}})">create post with that</a>
              </div>
            {{/posts}}
          </ul>
        </div>
      </div>
    </section>
</body>
</html>
