<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <form method="POST"
        {{#post}}
          action="/backstage/preview/?id={{post.id}}"
        {{/post}}
        {{^post}}
          action="/backstage/preview/"
        {{/post}}
        target="preview"
    >
        <textarea name="text">
            {{#post}}
                {{{post.text}}}
            {{/post}}
        </textarea>
        <button type="submit">
            preview
        </button>
    </form>
    <hr />
    <iframe name="preview"
        width="100%"
        {{#post}}src="/backstage/preview/?id={{post.id}}"{{/post}}
    ></iframe>
</body>
</html>
