<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        * {
            box-sizing: border-box;
        }

        textarea, input[name="slug"] {
            width: 100%;
            font-size: 1em;
            font-family: "SF Mono", "Menlo-Regular", Consolas, "Andale Mono WT",
            "Andale Mono", "Lucida Console", "Lucida Sans Typewriter",
            "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono",
            "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
        }

        textarea {
            min-height: 40vh;
        }

        iframe {
            width: 100%;
            min-height: 40vh;
            border: 1px solid gray;
        }
    </style>
</head>
<body>
    <a href="/backstage">&lt; backstage</a>
    {{#post}}
        | <a href="/{{post.id}}.html" target="_blank">{{post.id}}</a>
    {{/post}}
    <form method="POST">
        {{#post}}
            <input type="hidden" name="id" value="{{post.id}}">
        {{/post}}
        <input style="width: 100%" name="slug" pattern="[a-zA-Z0-9_-]+"
            {{#post}}
                value="{{post.slug}}"
            {{/post}}
            placeholder="slug" 
        >
        <textarea
            name="text"
            placeholder="markdown text"
        >{{#post}}{{{post.text}}}{{/post}}</textarea>
        <div style="width: 100%; display: flex; justify-content: space-between;">
            <button type="submit"
                formtarget="preview"
                {{#post}}
                  formaction="/backstage/preview/?id={{post.id}}"
                {{/post}}
                {{^post}}
                  formaction="/backstage/preview/"
                {{/post}}
            >
                preview
            </button>
            {{#post}}
                <button type="submit"
                    formaction="/backstage/delete/?id={{post.id}}"
                >
                    delete
                </button>
                {{#post.draft}}
                    <button type="submit"
                        name="draft"
                        value=""
                    >
                        make public
                    </button>
                {{/post.draft}}
                {{^post.draft}}
                    <button type="submit"
                        name="draft"
                        value="1"
                    >
                        make draft
                    </button>
                {{/post.draft}}
            {{/post}}
            {{^post}}
                <div></div>
                <div></div>
            {{/post}}
            <button type="submit">
                save
            </button>
        </div>
    </form>
    <iframe name="preview"
        width="100%"
        frameborder="0"
    ></iframe>
</body>
</html>
