<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        {{> bulma.css}}
    </style>
    <style>
        * {
            box-sizing: border-box;
        }

        form, form button {
            font-size: 1em;
            font-family: "SF Mono", "Menlo-Regular", Consolas, "Andale Mono WT",
            "Andale Mono", "Lucida Console", "Lucida Sans Typewriter",
            "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono",
            "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
        }
    </style>
</head>
<body class="container is-fluid" style="margin-top: 1em; margin-bottom: 80px">
    <nav style="display: flex; justify-content: space-between;">
        <a href="/backstage" class="button">&larr; backstage</a>
        <form method="POST" target="stdout">
            <button class="button">generate</button>
        </form>
    </nav>
    <iframe name="stdout"
        width="100%"
        frameborder="0"
        class="field textarea"
        style="margin-top: 1em; min-height: 80vh;"
    ></iframe>
</body>
</html>
