hello {{user.me}} <a href="{{urls.logout}}">logout</a>

<ul>
{{#posts}}
    <li>
        <a href="{{urls.edit}}">{{id}}</a> -
        {{#draft}}
            <a href="{{urls.preview}}">draft</a>
        {{/draft}}
        {{^draft}}
            <a href="{{urls.preview}}">public</a>
        {{/draft}}
    </li>
{{/posts}}
</ul>
