<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        {{> bulma.css}}

        .card-content img,
        .card-content video,
        .card-content audio {
          max-width: 100%;
          width: auto;
          max-height: 18em;
          height: auto;
          display: block;
          margin: auto;
        }

    </style>
</head>
<body class="container is-fluid" style="margin-top: 1em; margin-bottom: 80px">
    <nav class="field">
        <a href="/backstage/edit" class="button">new post</a>
        <a href="/backstage/media" class="button">media</a>
        <a href="/backstage/generate" class="button">generate</a>
    </nav>

    {{#suggestion}}
        <article class="message is-link">
            <div class="message-body">
              <a href="{{{url}}}">
                {{text}}
              </a>
            </div>
        </article>
    {{/suggestion}}

    {{#posts}}
        <div class="card">
            <div class="card-content">
                {{{short}}}
            </div>
            <footer class="card-footer">
                {{#draft}}<div class="card-footer-item">draft</div>{{/draft}}
                {{^draft}}
                    <a class="card-footer-item" href="{{urls.permalink}}">
                        {{#private}}private{{/private}}
                        {{#public}}public{{/public}}
                    </a>
                {{/draft}}
                <a class="card-footer-item" href="{{urls.edit}}">edit</a>
                <a class="card-footer-item" href="{{urls.preview}}">preview</a>
            </footer>
        </div>
    {{/posts}}

    <nav class="field" style="margin-top: 0.5em">
        {{#urls.newer}}<a class="button" href="{{{urls.newer}}}">&larr; newer</a>{{/urls.newer}}
        {{^urls.newer}}<button class="button" disabled>&larr; newer</button>{{/urls.newer}}
        {{#urls.older}}<a class="button" href="{{{urls.older}}}">older &rarr;</a>{{/urls.older}}
        {{^urls.older}}<button class="button" disabled>older &rarr;</button>{{/urls.older}}
    </nav>
    
    <form method="POST" action="{{urls.jwt}}">
        <button>jwt</button>
    </form>
    
    <div>
        <a href="{{urls.logout}}">logout</a>
    </div>
</body>
</html>
