<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        {{> bulma.css}}

        .card-content img,
        .card-content video,
        .card-content audio {
          max-width: 100%;
          width: auto;
          max-height: 18em;
          height: auto;
          display: block;
          margin: auto;
        }

        .card-content iframe,
        .card-content a.future-frame {
          display: block;
          margin: auto;
          max-width: 100%;
        }

        a[href*="youtube.com/"].future-frame:after {
          position: absolute;
          width: 64px;
          height: 64px;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          content: "";
          background-image: url("data:image/svg+xml;utf8,\
            <svg xmlns='http://www.w3.org/2000/svg' version='1.1' viewBox='0 0 1024 721' enable-background='new 0 0 1024 721' xml:space='preserve'>\
            <path fill='white' d='M407,493l276-143L407,206V493z'/>\
            <path fill='red' d='M1013,156.3c0,0-10-70.4-40.6-101.4C933.6,14.2,890,14,870.1,11.6C727.1,1.3,512.7,1.3,512.7,1.3 h-0.4c0,0-214.4,0-357.4,10.3C135,14,91.4,14.2,52.6,54.9C22,85.9,12,156.3,12,156.3S1.8,238.9,1.8,321.6v77.5 C1.8,481.8,12,564.4,12,564.4s10,70.4,40.6,101.4c38.9,40.7,89.9,39.4,112.6,43.7c81.7,7.8,347.3,10.3,347.3,10.3 s214.6-0.3,357.6-10.7c20-2.4,63.5-2.6,102.3-43.3c30.6-31,40.6-101.4,40.6-101.4s10.2-82.7,10.2-165.3v-77.5 C1023.2,238.9,1013,156.3,1013,156.3z M407,493V206l276,144L407,493z'/>\
          </svg>");
          background-repeat: no-repeat;
          background-position: center;
        }

        a[href$=".pdf"][data-src*="https://drive.google.com/viewerng/viewer"].future-frame:after {
          position: absolute;
          width: 24px;
          height: 32px;
          bottom: 16px;
          right: 16px;
          content: "";
          border: 4px solid white;
          border-radius: 4px;
          background-color: white;
          background-image: url("data:image/svg+xml;utf8,\
            <svg xmlns='http://www.w3.org/2000/svg' version='1.1' viewBox='0 0 384 512' enable-background='new 0 0 384 512' xml:space='preserve'>\
            <path fill='%2300a500' d='M181.9 256.1c-5-16-4.9-46.9-2-46.9 8.4 0 7.6 36.9 2 46.9zm-1.7 47.2c-7.7 20.2-17.3 43.3-28.4 62.7 18.3-7 39-17.2 62.9-21.9-12.7-9.6-24.9-23.4-34.5-40.8zM86.1 428.1c0 .8 13.2-5.4 34.9-40.2-6.7 6.3-29.1 24.5-34.9 40.2zM248 160h136v328c0 13.3-10.7 24-24 24H24c-13.3 0-24-10.7-24-24V24C0 10.7 10.7 0 24 0h200v136c0 13.2 10.8 24 24 24zm-8 171.8c-20-12.2-33.3-29-42.7-53.8 4.5-18.5 11.6-46.6 6.2-64.2-4.7-29.4-42.4-26.5-47.8-6.8-5 18.3-.4 44.1 8.1 77-11.6 27.6-28.7 64.6-40.8 85.8-.1 0-.1.1-.2.1-27.1 13.9-73.6 44.5-54.5 68 5.6 6.9 16 10 21.5 10 17.9 0 35.7-18 61.1-61.8 25.8-8.5 54.1-19.1 79-23.2 21.7 11.8 47.1 19.5 64 19.5 29.2 0 31.2-32 19.7-43.4-13.9-13.6-54.3-9.7-73.6-7.2zM377 105L279 7c-4.5-4.5-10.6-7-17-7h-6v128h128v-6.1c0-6.3-2.5-12.4-7-16.9zm-74.1 255.3c4.1-2.7-2.5-11.9-42.8-9 37.1 15.8 42.8 9 42.8 9z'></path>\
          </svg>");
          background-repeat: no-repeat;
          background-position: center;
        }

        @keyframes loadingopacity {
          from {
            opacity: 0.3;
          }

          to {
            opacity: 1.0;
          }
        }

        a.future-frame.loading:after {
          animation: loadingopacity 0.8s ease-in-out infinite alternate-reverse;
        }
    </style>
    <script type="text/javascript">
        /* eslint-env browser */
        document.addEventListener("DOMContentLoaded", function() {
          function handleFutureFrame(e) {
            if (e.ctrlKey || e.metaKey) {
              return true;
            }

            var target = e.currentTarget;
            target.removeEventListener("click", handleFutureFrame);
            target.classList.add("loading");
            var i = document.createElement("iframe");
            i.setAttribute("src", target.getAttribute("data-src"));
            i.setAttribute("frameborder", 0);
            i.setAttribute("width", 640);
            i.setAttribute("height", 0);
            i.setAttribute("allow", "autoplay; encrypted-media");
            i.setAttribute("allowfullscreen", "1");
            target.parentNode.insertBefore(i, target);
            i.addEventListener("load", function() {
              i.setAttribute("height", 360);
              target.style.display = "none";
            });
            e.preventDefault();
          }

          Array.prototype.forEach.call(
            document.querySelectorAll("a.future-frame[data-src]"),
            function(ff) {
              ff.addEventListener("click", handleFutureFrame);
            }
          );
        });
    </script>
</head>
<body class="container is-fluid" style="margin-top: 1em; margin-bottom: 80px">
    <nav class="field">
        <a href="/backstage/edit" class="button">new post</a>
        <a href="/backstage/media" class="button">media</a>
        <a href="/backstage/generate" class="button">generate</a>
        {{#gauges.id}}
          <a href="https://secure.gaug.es/dashboard#/gauges/{{gauges.id}}/overview"
            class="button"
          ><img src="/backstage/gauges.svg" style="height:1em; width: 3em"></a>
        {{/gauges.id}}
    </nav>

    {{#suggestion}}
        <article class="message is-link">
            <div class="message-body">
              <a href="{{{url}}}">
                {{text}}
              </a>
            </div>
        </article>
    {{/suggestion}}

    {{#posts}}
        <div class="card">
            <div class="card-content">
                {{{short}}}
            </div>
            <footer class="card-footer">
                {{#draft}}<div class="card-footer-item">draft</div>{{/draft}}
                {{^draft}}
                    <a class="card-footer-item" href="{{urls.permalink}}">
                        {{#private}}private{{/private}}
                        {{#public}}public{{/public}}
                    </a>
                {{/draft}}
                <a class="card-footer-item" href="{{urls.edit}}">edit</a>
                <a class="card-footer-item" href="{{urls.preview}}">preview</a>
            </footer>
        </div>
    {{/posts}}

    <nav class="field" style="margin-top: 0.5em">
        {{#urls.newer}}<a class="button" href="{{{urls.newer}}}">&larr; newer</a>{{/urls.newer}}
        {{^urls.newer}}<button class="button" disabled>&larr; newer</button>{{/urls.newer}}
        {{#urls.older}}<a class="button" href="{{{urls.older}}}">older &rarr;</a>{{/urls.older}}
        {{^urls.older}}<button class="button" disabled>older &rarr;</button>{{/urls.older}}
    </nav>
    
    <form method="POST" action="{{urls.jwt}}">
        <button>jwt</button>
    </form>
    
    <div>
        <a href="{{urls.logout}}">logout</a>
    </div>
</body>
</html>
