<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        * {
            box-sizing: border-box;
        }

        textarea, input[name="slug"], input[name="import_url"] {
            width: 100%;
            font-size: 1em;
            font-family: "SF Mono", "Menlo-Regular", Consolas, "Andale Mono WT",
            "Andale Mono", "Lucida Console", "Lucida Sans Typewriter",
            "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono",
            "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
        }

        textarea {
            min-height: 40vh;
        }

        iframe {
            width: 100%;
            min-height: 40vh;
            border: 1px solid gray;
        }

        form, form button {
            font-size: 1em;
            font-family: "SF Mono", "Menlo-Regular", Consolas, "Andale Mono WT",
            "Andale Mono", "Lucida Console", "Lucida Sans Typewriter",
            "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono",
            "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
        }
        
        section {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            margin-bottom: 64px;
        }
        
        section .media-thumbnail, section .more-media {
            width: 64px;
            height: 64px;
            background: lightgray;
            word-break: all;
            margin: 2px;
        }
        
        section .more-media {
            flex-grow: 1;
        }
        
        section .media-expanded {
            width: 100%;
            background-color: lightgray;
        }
        
        section .media-expanded img[src=""],
        section .media-expanded video[src=""],
        section .media-expanded audio[src=""] {
            display: none;
        }
        
        section .media-expanded img,
        section .media-expanded video,
        section .media-expanded audio {
            width: 100%
        }
    </style>
</head>
<body>
    <a href="/backstage">&lt; backstage</a>
    <section>
      {{#media}}
        <a
          class="media-thumbnail"
          target="_blank"
          href="/media/{{id}}.{{ext}}"
          {{#type.image}}data-type="image"{{/type.image}}
          {{#type.video}}data-type="video"{{/type.video}}
          {{#type.audio}}data-type="audio"{{/type.audio}}
          {{#type.text}}data-type="text"{{/type.text}}
          {{#type.image}}
            style="background-image: url('/media/{{id}}.{{ext}}'); background-size: cover;"
          {{/type.image}}
          onclick="window.expandMedia(event, this)"
        >
            {{^type.image}}{{ext}}{{/type.image}}
        </a>
      {{/media}}
      {{#urls.moreMedia}}
        <div class="more-media" onclick="window.loadMore(this)" data-src="{{urls.moreMedia}}">
           ...
        </div>
      {{/urls.moreMedia}}
      <div class="media-expanded" hidden>
          <button type="button" onclick="window.appendMedia(this)" data-src="">append media</button>
          <img src="" />
          <video src="" controls playsinline></video>
          <audio src="" controls></audio>
      </div>
    </section>
    <script>
    window.loadMore = function (el) {
            const parent = el.parentNode
            const url = el.dataset.src
            fetch(url, {credentials: 'include'})
            .then(async r => {
              const htmlTag = document.createElement('html')
              htmlTag.innerHTML = await r.text()
              for (const div of htmlTag.querySelectorAll("section .media-thumbnail, section .more-media")) {
                parent.appendChild(div)
              }
              parent.removeChild(el)
            })
            .catch(e => {
            
            el.innerText = e.toString()})
    }
    
    window.expandMedia = function(event, el) {
            event.preventDefault()
            const expanded = document.querySelector('.media-expanded')
            const newHidden = expanded.querySelector('button').getAttribute('data-src') === el.href && !expanded.hidden
            !newHidden && expanded.parentNode.removeChild(expanded)
            expanded.hidden = newHidden
            expanded.querySelector('button').setAttribute('data-src', el.href)
            expanded.querySelector('img').src = !newHidden && el.dataset.type === 'image' ? el.href : ""
            expanded.querySelector('video').src = !newHidden && el.dataset.type === 'video' ? el.href : ""
            expanded.querySelector('audio').src = !newHidden && el.dataset.type === 'audio' ? el.href : ""
            !newHidden && el.parentNode.insertBefore(expanded, el.nextSibling)
    }
    
    window.appendMedia = function(el) {
            alert(el.dataset.src)
    }
    </script>
</body>
</html>
