{{> header}}

<style type="text/css">
  ul.archive time {
    font-variant-numeric: tabular-nums;
  }
</style>

{{#years}}
  <h3>{{year}}</h3>
  <ul class="archive">
    {{#months}}
      <li><time datetime="{{text}}"><a href="{{{url}}}">{{text}}</a></time></li>
    {{/months}}
  </ul>
{{/years}}

{{> footer}}
