  </main>
  <nav>
    {{#newer}}<a href="{{{newer.url}}}">&larr; {{#isIndex}}{{#t}}index{{/t}}{{/isIndex}}{{^isIndex}}{{#t}}page {{number}}{{/t}}{{/isIndex}}</a>{{/newer}}
    {{^newer}}<span></span>{{/newer}}
    {{#older}}<a href="{{{older.url}}}" style="text-align: right;">{{#t}}page {{number}}{{/t}} &rarr;</a>{{/older}}
    {{^older}}<span></span>{{/older}}
  </nav>
  <footer>
    <div class="groups">
      <div class="group">
        {{#blog.author.name}}<a href="https://anton.codes" rel="me">{{blog.author.name}}</a>{{/blog.author.name}}
        {{#blog.author.twitter}}<a href="https://twitter.com/{{blog.author.twitter}}" rel="me">@{{blog.author.twitter}}</a>{{/blog.author.twitter}}
      </div>
      <div class="group">
        <a href="/linkblog.html">{{#t}}linkblog{{/t}}</a>
        <a href="/archive.html">{{#t}}archive{{/t}}</a>
      </div>
      <div class="group">
        <a href="{{{blog.feed.url}}}">rss</a>
        <a href="https://t.me/s/zemlan_in">telegram</a>
      </div>
    </div>
    <form method="GET" action="/search">
      <input type="text" name="q" title="{{#t}}search{{/t}}" aria-label="{{#t}}search{{/t}}">
      <button type="submit" title="{{#t}}search{{/t}}" style="margin-left: 0.25em;">{{#fas}}search{{/fas}}</button>
    </form>
    <div>
      <a href="/backstage" rel="nofollow,noindex" aria-label="backstage">
        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" style="vertical-align:middle" viewBox="0 0 640 512"><path fill="rgba(192,192,192,0.5)" d="{{fas.door-open}}"></path></svg>
      </a>
    </div>
  </footer>
</body>
</html>
