    <nav>
        {{#newer}}<a href="{{{newer.url}}}">&larr; {{newer.text}}</a>{{/newer}}
        {{^newer}}<span></span>{{/newer}}
        {{#older}}<a href="{{{older.url}}}">{{older.text}} &rarr;</a>{{/older}}
    </nav>
    <footer>
        <a href="https://anton.codes" rel="me">Anton Verinov</a>
        <a href="./archive.html">archive</a>
        {{#feed}}
        <a href="{{{feed.url}}}">rss</a>
        {{/feed}}
    </footer>
    <script type="text/javascript">
      /* eslint-env browser */
      var _gauges = _gauges || [];
      (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '5ad71c6a5ca86c3689a30411');
        t.setAttribute('data-track-path', 'https://track.gaug.es/track.gif');
        t.src = 'https://d2fuc4clr7gvcn.cloudfront.net/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();
    </script>
</body>
</html>
