<script type="text/javascript"
  async
  id="gauges-tracker"
  data-site-id="5ad71c6a5ca86c3689a30411"
  data-track-path="/gauges/track.gif"
  src="//d2fuc4clr7gvcn.cloudfront.net/track.js"
></script>
