:root {
  --color-braaand: #00a500;
  --color-background: initial;
  --color-text: initial;
  --color-text-decoration: rgba(0, 165, 0, 0.6);
  --color-card-border: #dedede;
  --color-card-hover: white;
  --color-card-caption-background: white;
  --color-deemphasis: #888;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: black;
    --color-text: #e3e3e3;
    --color-text-decoration: rgba(0, 165, 0, 0.8);
    --color-card-border: #414141;
    --color-card-caption-background: black;
  }
}

body.dark {
  --color-background: black;
  --color-text: #e3e3e3;
  --color-text-decoration: rgba(0, 165, 0, 0.8);
  --color-card-border: #414141;
  --color-card-caption-background: black;
}

body.light {
  --color-background: white;
  --color-text: black;
  --color-text-decoration: rgba(0, 165, 0, 0.6);
  --color-card-border: #dedede;
  --color-card-caption-background: white;
}

@media print {
  :root,
  body.light,
  body.dark {
    --color-braaand: black;
    --color-background: white;
    --color-text: black;
    --color-text-decoration: #414141;
    --color-card-border: #dedede;
    --color-card-caption-background: white;
  }
}

@media print and (prefers-color-scheme: dark) {
  :root {
    --color-braaand: black;
    --color-background: white;
    --color-text: black;
    --color-text-decoration: #414141;
    --color-card-border: #dedede;
    --color-card-caption-background: white;
  }
}

body {
  max-width: 40em;
  margin: auto;
  display: flex;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 20px;
  line-height: 1.5;
  padding-left: 1.25em;
  padding-right: 1.25em;

  background-color: var(--color-background);
  color: var(--color-text);
}

@supports (padding: max(0px)) {
  body {
    padding-left: max(1.25em, env(safe-area-inset-left));
    padding-right: max(1.25em, env(safe-area-inset-right));
  }
}

@media (max-width: 40em) {
  body {
    padding-bottom: 1em;
    font-size: 17px;
  }

  @supports (padding: max(0px)) {
    body {
      padding-bottom: max(1em, env(safe-area-inset-bottom));
    }
  }
}

h1,
h2,
h3 {
  margin: 0.5em 0;
  line-height: 1.3;
}

p {
  margin: 1em 0;
}

* {
  box-sizing: border-box;
}

article {
  margin-bottom: 3em;
  max-width: 100%;
  overflow-wrap: break-word;
}

article figure.card {
  border: 1px solid #dedede;
  border-color: var(--color-card-border);
  border-radius: 0 0 4px 4px;
  max-width: 30em;
  margin: 1em auto;
  page-break-inside: avoid;
}

article figure.card a {
  text-decoration: none;
}

@media (max-width: 40em) {
  article figure.card {
    margin: 0.5em auto;
  }
}

article figure.card figcaption {
  border-top: #dedede 1px solid;
  border-color: var(--color-card-border);
  border-radius: 0 0 4px 4px;
  padding: 0.5em;
  background-color: var(--color-card-caption-background);
}

article figure.card figcaption a {
  display: block;
}

article figure.card figcaption i {
  color: #888;
  color: var(--color-deemphasis);
  font-size: 0.8em;
  display: block;
  white-space: pre-wrap;
}

article figure.card figcaption i.truncated {
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

article .footnotes {
  font-size: 0.8em;
}

article .footnotes hr {
  width: 8em;
  border-style: solid;
  border-width: 1px 0 0 0;
  margin: 3em auto 1.5em 0;
}

article .footnotes ol {
  padding-left: 0.5em;
  margin-left: 1em;
}

article .footnotes a[rev="footnote"] {
  text-decoration: none;
}

article img,
article video {
  max-width: 100%;
  width: auto;
  max-height: 30em;
  height: auto;
  display: block;
  margin: auto;
}

article audio {
  width: 100%;
  display: block;
}

article figure.card img,
article figure.card video {
  max-height: 21.375em;
}

article figure.card img.audio-control {
  cursor: pointer;
}

article iframe,
article a.future-frame {
  display: block;
  margin: auto;
  max-width: 100%;
}

@media (max-width: 40em) {
  article img,
  article video {
    max-height: 22.5em;
  }
}

article a.future-frame {
  position: relative;
  text-decoration: none;
}

article a.future-frame:after {
  display: block;
  width: 100%;
  content: "▶ play";
  text-align: center;
  background: #dedede;
  background: var(--color-card-border);
}

article a.future-frame:hover:after {
  color: white;
  color: var(--color-card-hover);
  background: #00a500;
  background: var(--color-braaand);
}

@keyframes loadingopacity {
  from {
    opacity: 0.3;
  }

  to {
    opacity: 1;
  }
}

article a.future-frame.loading:hover:after {
  color: unset;
  background: none;
}

article a.future-frame.loading:after {
  content: "•••";
  animation: loadingopacity 0.4s ease-in-out infinite alternate-reverse;
}

article time {
  display: block;
  text-align: right;
  font-size: 0.9em;
}

article time a {
  color: #888;
  color: var(--color-deemphasis);
  text-decoration: none;
}

article blockquote {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0.7em;
  border-left: 2px solid rgba(0, 165, 0, 0.6);
  border-left-color: var(--color-text-decoration);
}

nav,
footer {
  margin-bottom: 1em;
}

footer {
  text-align: center;
}

nav {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  word-break: break-word;
}

nav span {
  flex-basis: 0;
  flex-grow: 1;
}

#settings-icon {
  text-align: right;
}

#settings-icon > summary {
  color: #888;
  color: var(--color-deemphasis);
  cursor: pointer;
  list-style: none;
  display: none;
}

@supports (color: var(--color-deemphasis)) {
  #settings-icon > summary {
    display: inline-block;
  }
}

#settings-icon > summary::-webkit-details-marker {
  display: none;
}

#night-mode {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin-top: 0.2em;
  font-size: 1.3em;
}

#night-mode label {
  margin: 0 0.3em;
}

#night-mode label:last-child {
  margin-right: 0;
}

#night-mode label svg,
#night-mode label input {
  vertical-align: middle;
}

#night-mode input[type="radio"]:checked ~ * {
  color: #00a500;
  color: var(--color-braaand);
}

article code {
  border: solid 1px #dedede;
  border-color: var(--color-card-border);
  padding: 0.1em 0.2em;
  font-size: 0.9em;
  font-family: "SF Mono", "Menlo-Regular", Consolas, "Andale Mono WT",
    "Andale Mono", "Lucida Console", "Lucida Sans Typewriter",
    "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono",
    "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
  word-break: keep-all;
}

article pre code {
  border: none;
  padding: 0;
  word-wrap: normal;
  font-size: 0.8em;
}

article pre {
  border: solid 1px #dedede;
  border-color: var(--color-card-border);
  padding: 0.2em 0.4em;
  overflow-x: scroll;
  line-height: 1.5;
}

article h1 a,
article h2 a,
article h3 a,
article a.more {
  text-decoration: none;
}

article ul[data-gallery] {
  overflow: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
}

article ul[data-gallery] figure.card {
  white-space: normal;
}

article ul[data-gallery] li {
  display: inline-block;
  vertical-align: middle;
  max-width: 90%;
  max-width: calc(100% - 4em);
  opacity: 1;
  will-change: opacity;
  transition: opacity 0.5s ease-in-out;
}

article ul[data-gallery] li.dim {
  opacity: 0.5;
}

article ul[data-gallery] li.dim img,
article ul[data-gallery] li.dim video,
article ul[data-gallery] li.dim a[href] {
  pointer-events: none;
}

article ul[data-gallery] li.dim figure.card a {
  display: block;
}

a,
header a:visited,
footer a:visited {
  color: #00a500;
  color: var(--color-braaand);
  -webkit-text-decoration-color: rgba(0, 165, 0, 0.6);
  -webkit-text-decoration-color: var(--color-text-decoration);
  text-decoration-color: rgba(0, 165, 0, 0.6);
  text-decoration-color: var(--color-text-decoration);
}

header a,
nav a,
footer a {
  text-decoration: none;
}

nav a,
footer a {
  display: inline-block;
  padding-left: 1em;
  padding-right: 1em;
}

header {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-start;
}

header h1,
header h2 {
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  flex-flow: row wrap;
  word-break: break-all;
}

header h1 {
  font-size: 1.5em;
}

header h2 {
  font-size: 1.3em;
}

@media print {
  body {
    font-size: 14px;
    max-width: 100%;
    padding: 0;
  }

  article p {
    page-break-inside: avoid;
  }

  header label,
  article .footnotes a[rev="footnote"],
  nav,
  footer a,
  footer br,
  .print\:hidden {
    display: none;
  }

  footer a[rel="me"] {
    display: inline;
  }

  article a.future-frame {
    max-width: 40em;
  }

  article a.future-frame:after,
  article figure.card > a:after {
    display: none;
  }

  article ul[data-gallery] {
    overflow: scroll;
    white-space: normal;
  }

  article ul[data-gallery] li[data-filler] {
    display: none;
  }

  article ul[data-gallery] li.dim {
    opacity: 1;
  }
}
