<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" xmlns:og="http://opengraphprotocol.org/schema/">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="alternate" type="application/rss+xml" title="{{ blog.feed.description }}" href="{{{ blog.feed.url }}}" />
  <link rel="icon" type="image/vnd.microsoft.icon" href="{{{ blog.static.favicon.ico }}}" />
  <link rel="icon" type="image/png" href="{{{ blog.static.favicon.png }}}" />
  <link rel="icon" type="image/svg+xml" href="{{{ blog.static.favicon.svg }}}" />
  <link rel="apple-touch-icon-precomposed" href="{{{ blog.static.favicon.png }}}" />
  <link rel="mask-icon" href="{{{ blog.static.mask-icon.svg }}}" color="#00a500" />

  <link href="https://twitter.com/zemlanin" rel="me">
  <link href="https://github.com/zemlanin" rel="me">
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:creator" content="@zemlanin" />
  <meta property="og:site_name" content="{{blog.title}}">
  {{#post}}
    {{^internal}}
    {{#opengraph}}
      <meta property="og:url" content="{{{url}}}" />
      <meta property="og:title" content="{{title}}" />
      {{#description}}
        <meta property="og:description" content="{{description}}" />
      {{/description}}
      {{#image}}
        <meta property="og:image" content="{{{image}}}" />
        <meta property="twitter:card" content="summary_large_image" />
      {{/image}}
    {{/opengraph}}
    {{/internal}}
  {{/post}}
  <title>
    {{#title}}{{title}} - {{/title}}
    {{blog.title}}
  </title>
  <style type="text/css">
    {{> header.css}}
    {{> highlight.css}}
  </style>
  <noscript>
    <style type="text/css">
      #settings-icon, article a.future-frame:after {
        display: none;
      }
    </style>
  </noscript>
  <script type="text/javascript">
    {{> polyfills.js}}
  </script>
  <script type="text/javascript">
    {{> header.js}}
  </script>
</head>
<body>
  <header>
    {{#post}}
      <h2>
        <a href="{{{blog.url}}}">{{blog.title}}</a>
        {{^htmlTitle}}
          <span class="print:hidden">&nbsp;/&nbsp;<span><a href="{{{url}}}" class="print:hidden">&infin;</a>
        {{/htmlTitle}}
      </h2>
    {{/post}}
    {{^post}}
      {{#index}}
        <h1>
          <a href="{{{blog.url}}}">{{blog.title}}</a>
        </h1>
      {{/index}}
      {{^index}}
        <h2>
          <a href="{{{blog.url}}}">{{blog.title}}</a>
          {{#title}}&nbsp;<span>/ <a href="{{{url}}}">{{title}}</a></span>{{/title}}
        </h2>
      {{/index}}
    {{/post}}

    <details id="settings-icon" class="print:hidden" title="Settings">
      <summary>
        {{#fas}}sliders-h{{/fas}}
      </summary>

      <form id="night-mode" action="javascript:void(0)">
        <label title="Night Mode: on">
          <input type="radio" name="night-mode" value="on">
          {{#fas}}moon{{/fas}}
        </label>
        <label title="Night Mode: default">
          <input type="radio" name="night-mode" value="system" checked>
          {{#fas}}adjust{{/fas}}
        </label>
        <label title="Night Mode: off">
          <input type="radio" name="night-mode" value="off">
          {{#fas}}sun{{/fas}}
        </label>
      </form>
    </details>
  </header>
  <main>
