:root {
  --color-braaand: #00a500;
  --color-background: white;
  --color-text: black;
  --color-text-decoration: rgba(0, 165, 0, 0.6);
  --color-card-border: #dedede;
  --color-card-hover: white;
  --color-card-caption-background: white;
  --color-deemphasis: #888;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: black;
    --color-text: #e3e3e3;
    --color-text-decoration: rgba(0, 165, 0, 0.8);
    --color-card-border: #414141;
    --color-card-caption-background: black;
  }
}

body.dark {
  --color-background: black;
  --color-text: #e3e3e3;
  --color-text-decoration: rgba(0, 165, 0, 0.8);
  --color-card-border: #414141;
  --color-card-caption-background: black;
}

body.light {
  --color-background: white;
  --color-text: black;
  --color-text-decoration: rgba(0, 165, 0, 0.6);
  --color-card-border: #dedede;
  --color-card-caption-background: white;
}

@media print {
  :root,
  body.light,
  body.dark {
    --color-braaand: black;
    --color-background: white;
    --color-text: black;
    --color-text-decoration: #414141;
    --color-card-border: #dedede;
    --color-card-caption-background: white;
  }
}

@media print and (prefers-color-scheme: dark) {
  :root {
    --color-braaand: black;
    --color-background: white;
    --color-text: black;
    --color-text-decoration: #414141;
    --color-card-border: #dedede;
    --color-card-caption-background: white;
  }
}

body {
  max-width: 40em;
  margin: auto;
  display: flex;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 20px;
  line-height: 1.5;
  padding-left: 1.25em;
  padding-right: 1.25em;

  background-color: var(--color-background);
  color: var(--color-text);
}

body.theme-changed {
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
    border-color 0.2s ease-in-out;
}

@supports (padding: max(0px)) {
  body {
    padding-left: max(1.25em, env(safe-area-inset-left));
    padding-right: max(1.25em, env(safe-area-inset-right));
  }
}

@media (max-width: 40em) {
  body {
    padding-bottom: 1em;
    font-size: 17px;
  }

  @supports (padding: max(0px)) {
    body {
      padding-bottom: max(1em, env(safe-area-inset-bottom));
    }
  }
}

h1,
h2,
h3 {
  margin: 0.5em 0;
  line-height: 1.3;
}

p {
  margin: 1em 0;
}

* {
  box-sizing: border-box;
}

article {
  margin-bottom: 3em;
  max-width: 100%;
  overflow-wrap: break-word;
}

article figure.card {
  border-width: 1px;
  border-style: solid;
  border-color: #dedede;
  border-color: var(--color-card-border);
  border-radius: 0 0 4px 4px;
  max-width: 30em;
  margin: 1em auto;
  page-break-inside: avoid;
}

body.theme-changed article figure.card {
  transition: border-color 0.2s ease-in-out;
}

article figure.card a {
  text-decoration: none;
}

@media (max-width: 40em) {
  article figure.card {
    margin: 0.5em auto;
  }
}

article figure.card blockquote {
  border: 0;
  padding: 0.5em;
}

article figure.card figcaption {
  border-top: #dedede 1px solid;
  border-color: var(--color-card-border);
  border-radius: 0 0 4px 4px;
  padding: 0.5em;
  background-color: var(--color-card-caption-background);
}

body.theme-changed article figure.card figcaption {
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

article figure.card figcaption > a {
  display: block;
}

article figure.card figcaption i {
  color: #888;
  color: var(--color-deemphasis);
  font-size: 0.8em;
  display: block;
}

article figure.card figcaption i.truncated {
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

article .footnotes {
  font-size: 0.9em;
}

article .footnotes hr {
  width: 8em;
  border-style: solid;
  border-width: 1px 0 0 0;
  margin: 3em auto 1.5em 0;
}

article .footnotes ol {
  padding-left: 0.5em;
  margin-left: 1em;
}

article .footnotes a[rev="footnote"] {
  text-decoration: none;
}

article img,
article video {
  max-width: 100%;
  width: auto;
  max-height: 30em;
  height: auto;
  display: block;
  margin: auto;
}

article audio {
  width: 100%;
  display: block;
}

article figure.card img,
article figure.card video {
  max-height: 21.375em;
}

article figure.card img.audio-control {
  cursor: pointer;
}

article iframe,
article embed,
article object,
article a.future-frame,
article a.embedded-pdf {
  display: block;
  margin: auto;
  max-width: 100%;
}

@media (max-width: 40em) {
  article img,
  article video {
    max-height: 22.5em;
  }
}

article a.future-frame,
article a.embedded-pdf {
  position: relative;
  text-decoration: none;
}

article a.future-frame:after,
article a.embedded-pdf:after {
  display: block;
  width: 100%;
  content: "▶ play";
  text-align: center;
  background: #dedede;
  background: var(--color-card-border);
}

[lang="en"] a.future-frame:after,
[lang="en"] a.embedded-pdf:after {
  content: "▶ play";
}

[lang="ru"] a.future-frame:after,
[lang="ru"] a.embedded-pdf:after {
  content: "▶ запустить";
}

[lang="uk"] a.future-frame:after,
[lang="uk"] a.embedded-pdf:after {
  content: "▶ виконати";
}

article a.future-frame:hover:after,
article a.embedded-pdf:hover:after {
  color: white;
  color: var(--color-card-hover);
  background: #00a500;
  background: var(--color-braaand);
}

@keyframes loadingopacity {
  from {
    opacity: 0.3;
  }

  to {
    opacity: 1;
  }
}

article a.future-frame.loading:hover:after,
article a.embedded-pdf.loading:hover:after {
  color: unset;
  background: none;
}

article a.future-frame.loading:after,
article a.embedded-pdf.loading:after {
  content: "•••";
  animation: loadingopacity 0.4s ease-in-out infinite alternate-reverse;
}

article time {
  display: block;
  text-align: right;
  font-size: 0.9em;
}

article time,
article time a {
  color: #888;
  color: var(--color-deemphasis);
}

article .share-and-time,
article .more-and-time {
  display: flex;
  justify-content: space-between;
  min-height: 1.5em;
  align-items: stretch;
}

article .share-and-time button {
  line-height: 0;
  background: none;
  border-width: 1px;
  border-style: solid;
  border-color: #dedede;
  border-color: var(--color-card-border);
  border-radius: 4px;
  padding: 0 0.5em;
  margin-right: 0.25em;
  cursor: pointer;
  color: #888;
  color: var(--color-deemphasis);
}

body.theme-changed article .share-and-time button {
  transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

article .share-and-time button:active,
article .share-and-time button:focus {
  color: #888;
  color: var(--color-deemphasis);
}

article button[data-share][data-share-state="unknown"] {
  display: none;
}

article button[data-share] span[data-share-done] {
  display: none;
}

article button[data-share][data-share-state="done"] span[data-share-done] {
  display: initial;
}

article button[data-share][data-share-state="done"] span[data-share-default] {
  display: none;
}

article blockquote {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0.7em;
  border-left: 2px solid rgba(0, 165, 0, 0.6);
  border-left-color: var(--color-text-decoration);
}

body.theme-changed article blockquote {
  transition: border-left-color 0.2s ease-in-out;
}

footer {
  margin-bottom: 1em;
  display: flex;
  flex-flow: column;
  text-align: center;
}

footer .groups {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
}

footer .groups .group {
  display: inline-flex;
  flex-flow: row;
}

footer:before {
  display: block;
  font-size: 1.3em;
  content: "─ ❧ ─";
  color: #888;
  color: var(--color-deemphasis);
}

body.theme-changed footer:before {
  transition: color 0.2s ease-in-out;
}

footer a[rel="me"] {
  display: inline-flex;
  align-items: center;
}

footer form {
  padding: 0.5em 0;
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: center;
}

footer form input {
  width: 8em;
  max-width: 16em;
  flex-grow: 1;
  border-width: 1px;
  border-style: solid;
  border-color: #dedede;
  border-color: var(--color-card-border);
  background-color: var(--color-background);
  color: var(--color-text);
}

body.theme-changed footer form input {
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
    border-color 0.2s ease-in-out;
}

footer form button {
  line-height: 0;
  background: none;
  border-width: 1px;
  border-style: solid;
  border-color: #dedede;
  border-color: var(--color-card-border);
  border-radius: 4px;
  padding: 0 0.5em;
  margin-left: 0.25em;
  min-height: 1.5em;
  cursor: pointer;
  color: #888;
  color: var(--color-deemphasis);
}

body.theme-changed footer form button {
  transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

footer form button:active,
footer form button:focus {
  color: #888;
  color: var(--color-deemphasis);
}

nav {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  word-break: break-word;
}

nav span {
  flex-basis: 0;
  flex-grow: 1;
}

#theme-switcher {
  display: none;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  margin: 0.75em -0.5em 0.75em 0;
  color: #888;
  color: var(--color-deemphasis);
}

@supports (color: var(--color-braaand)) {
  /* show theme switcher only if browser supports theming via CSS variables */
  #theme-switcher {
    display: flex;
  }
}

#theme-switcher label {
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  border-color: #dedede;
  border-color: var(--color-card-border);
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
}

body.theme-changed #theme-switcher label {
  transition: border-color 0.2s ease-in-out;
}

#theme-switcher label:active,
#theme-switcher label:focus {
  color: initial;
  color: var(--color-text);
}

#theme-switcher label svg {
  vertical-align: middle;
  padding: 0 0.5em;
  height: 1.5em;
  width: 100%;
  border-radius: 3px;
}

#theme-switcher input[type="checkbox"] {
  display: none;
}

#theme-switcher input[type="checkbox"]:checked ~ * {
  color: white;
  color: var(--color-background);
  background-color: #888;
  background-color: var(--color-deemphasis);
}

#theme-switcher label:active input[type="checkbox"]:checked ~ *,
#theme-switcher label:focus input[type="checkbox"]:checked ~ * {
  background-color: black;
  background-color: var(--color-text);
}

/* DEBT: replace this positional selector with `label[for="light"]` or something */
#theme-switcher label:last-child {
  display: none;
}

#theme-switcher input[value="light"] ~ * {
  display: none;
}

@media (prefers-color-scheme) {
  #theme-switcher label:last-child {
    display: inline-flex;
  }

  #theme-switcher input[value="light"] ~ * {
    display: initial;
  }

  #theme-switcher label:first-child {
    border-radius: 4px 0 0 4px;
  }

  #theme-switcher label:first-child svg {
    border-radius: 3px 0 0 3px;
  }

  #theme-switcher label:last-child {
    border-radius: 0 4px 4px 0;
    margin-left: -1px;
  }

  #theme-switcher label:last-child svg {
    border-radius: 0 3px 3px 0;
  }
}

article kbd,
article code {
  border-width: 1px;
  border-style: solid;
  border-color: #dedede;
  border-color: var(--color-card-border);
  padding: 0.1em 0.2em;
  font-size: 0.9em;
  font-family: "SF Mono", "Menlo-Regular", Consolas, "Andale Mono WT",
    "Andale Mono", "Lucida Console", "Lucida Sans Typewriter",
    "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono",
    "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
  word-break: keep-all;
}

body.theme-changed article kbd,
body.theme-changed article code {
  transition: border-color 0.2s ease-in-out;
}

article pre code {
  border: 0;
  padding: 0;
  word-wrap: normal;
  font-size: 0.8em;
}

article pre {
  border-width: 1px;
  border-style: solid;
  border-color: #dedede;
  border-color: var(--color-card-border);
  padding: 0.2em 0.4em;
  overflow-x: scroll;
  line-height: 1.3;
}

body.theme-changed article pre {
  transition: border-color 0.2s ease-in-out;
}

article kbd {
  display: inline-block;
  font-size: 0.8em;
  line-height: 1em;
  vertical-align: middle;
  border-radius: 3px;
  box-shadow: inset 0 -2px 0 #dedede;
  box-shadow: inset 0 -2px 0 var(--color-card-border);
}

article h1 a,
article h2 a,
article h3 a,
article time a,
article .share-and-time a,
article .more-and-time a {
  text-decoration: none;
}

article ul[data-gallery] {
  overflow: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
}

article ul[data-gallery] figure.card {
  white-space: normal;
}

article ul[data-gallery] li {
  display: inline-block;
  vertical-align: middle;
  max-width: 90%;
  max-width: calc(100% - 4em);
  opacity: 1;
  position: relative;
}

article ul[data-gallery] li.before-centermost {
  cursor: w-resize;
}

article ul[data-gallery] li.after-centermost {
  cursor: e-resize;
}

article ul[data-gallery] li.dim img,
article ul[data-gallery] li.dim video,
article ul[data-gallery] li.dim a[href] {
  pointer-events: none;
}

article ul[data-gallery] li:after {
  /* think about removing `pointer-events: none` since we now have this... */
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  background-color: var(--color-background);
  opacity: 0.3;
  content: "";
}

body.theme-changed article ul[data-gallery] li:after {
  transition: background-color 0.2s ease-in-out;
}

article ul[data-gallery] li.dim:after {
  display: block;
}

article ul[data-gallery] li.dim figure.card > a {
  display: block;
}

.linkblog-after-post {
  margin-bottom: 3em;
  max-width: 100%;
  overflow-wrap: break-word;
}

.linkblog-after-post ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  align-items: center;
  justify-content: space-around;
}

.linkblog-after-post ul li {
  width: 7em;
  flex-grow: 1;
  padding: 0 0.25em;
  overflow-y: hidden;
  line-height: 0;
}

.linkblog-after-post ul li:nth-child(1) {
  padding-left: 0;
}

.linkblog-after-post ul li:nth-child(4) {
  padding-right: 0;
}

.linkblog-after-post ul li a {
  display: inline-block;
}

.linkblog-after-post ul li img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 30em) {
  .linkblog-after-post ul li:nth-child(3) {
    display: none;
  }
}

@media (max-width: 42.5em) {
  .linkblog-after-post ul li:nth-child(4) {
    display: none;
  }
}

.linkblog-after-post .anchor-wrapper {
  display: block;
  text-align: right;
}

.linkblog-after-post a {
  text-decoration: none;
}

a,
header a:visited,
footer a:visited {
  color: #00a500;
  color: var(--color-braaand);
  -webkit-text-decoration-color: rgba(0, 165, 0, 0.6);
  -webkit-text-decoration-color: var(--color-text-decoration);
  text-decoration-color: rgba(0, 165, 0, 0.6);
  text-decoration-color: var(--color-text-decoration);
}

body.theme-changed a,
body.theme-changed header a:visited,
body.theme-changed footer a:visited {
  transition: color 0.2s ease-in-out,
    -webkit-text-decoration-color 0.2s ease-in-out,
    text-decoration-color 0.2s ease-in-out;
}

header a,
nav a,
footer a {
  text-decoration: none;
}

nav a,
footer a {
  display: inline-block;
  margin: 0.5em 1em;
}

header {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
}

header h1,
header h2 {
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  flex-flow: row wrap;
  word-break: break-all;
}

header h1,
article h1 {
  font-size: 1.5em;
}

header h2 {
  font-size: 1.3em;
}

@media print {
  body {
    font-size: 14px;
    max-width: 100%;
    padding: 0;
  }

  article p {
    page-break-inside: avoid;
  }

  header label,
  article .footnotes a[rev="footnote"],
  nav,
  footer a,
  footer br,
  footer form,
  .print\:hidden {
    display: none;
  }

  footer a[rel="me"] {
    display: inline;
  }

  article a.future-frame {
    max-width: 40em;
  }

  article a.future-frame:after,
  article figure.card > a:after {
    display: none;
  }

  article ul[data-gallery] {
    overflow: scroll;
    white-space: normal;
  }

  article ul[data-gallery] li[data-filler] {
    display: none;
  }

  article ul[data-gallery] li.dim {
    opacity: 1;
  }

  article ul[data-gallery] li.before-centermost {
    cursor: auto;
  }

  article ul[data-gallery] li.after-centermost {
    cursor: auto;
  }

  article button[data-share] {
    display: none;
  }
}
