<!DOCTYPE html>
<html lang="{{#lang}}{{lang}}{{/lang}}{{^lang}}{{blog.lang}}{{/lang}}" prefix="og: http://ogp.me/ns#" xmlns:og="http://opengraphprotocol.org/schema/">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{#linkblog}}
    <link rel="alternate" type="application/rss+xml" title="{{ blog.linkblog.feed.description }}" href="{{{ blog.linkblog.feed.url }}}" />
    <link rel="alternate" type="application/rss+xml" title="{{ blog.feed.description }}" href="{{{ blog.feed.url }}}" />
  {{/linkblog}}
  {{^linkblog}}
    <link rel="alternate" type="application/rss+xml" title="{{ blog.feed.description }}" href="{{{ blog.feed.url }}}" />
    <link rel="alternate" type="application/rss+xml" title="{{ blog.linkblog.feed.description }}" href="{{{ blog.linkblog.feed.url }}}" />
  {{/linkblog}}
  <link rel="icon" type="image/vnd.microsoft.icon" href="{{{ blog.static.favicon.ico }}}" />
  <link rel="icon" type="image/png" href="{{{ blog.static.favicon.png }}}" />
  <link rel="icon" type="image/svg+xml" href="{{{ blog.static.favicon.svg }}}" />
  <link rel="apple-touch-icon-precomposed" href="{{{ blog.static.favicon.png }}}" />
  <link rel="mask-icon" href="{{{ blog.static.mask-icon.svg }}}" color="#00a500" />

  <link rel="me" href="https://twitter.com/{{blog.author.twitter}}">
  <link rel="me" href="https://github.com/zemlanin">
  <link rel="me" href="https://t.me/zemlanin">

  {{#post}}{{^public}}<meta name="robots" content="noindex">{{/public}}{{/post}}
  {{#post}}{{#public}}<link rel="canonical" href="{{{post.url}}}">{{/public}}{{/post}}
  {{#index}}<link rel="canonical" href="{{{blog.url}}}">{{/index}}
  {{#pagination}}<link rel="canonical" href="{{{pagination.url}}}">{{/pagination}}
  {{#archive}}<link rel="canonical" href="{{{blog.archive.url}}}">{{/archive}}
  {{#linkblog}}<link rel="canonical" href="{{{blog.linkblog.url}}}">{{/linkblog}}

  {{#blog.author.name}}<meta name="author" content="{{blog.author.name}}">{{/blog.author.name}}
  <meta name="twitter:card" content="summary" />
  {{#blog.author.twitter}}<meta name="twitter:creator" content="@{{blog.author.twitter}}" />{{/blog.author.twitter}}
  <meta property="og:site_name" content="{{blog.title}}" />
  {{#post}}
    {{^internal}}
    {{#opengraph}}
      <meta property="og:url" content="{{{url}}}" />
      <meta property="og:title" content="{{title}}" />
      {{#description}}
        <meta name="description" content="{{description}}" />
        <meta property="og:description" content="{{description}}" />
      {{/description}}
      {{#image}}
        <meta property="og:image" content="{{{image}}}" />
        <meta property="twitter:card" content="summary_large_image" />
      {{/image}}
      {{#locale}}
        <meta property="og:locale" content="{{locale}}" />
      {{/locale}}
      <meta property="article:published_time" content="{{published_time}}" />
      {{#modified_time}}
        <meta property="article:modified_time" content="{{modified_time}}" />
      {{/modified_time}}
    {{/opengraph}}
    {{/internal}}
  {{/post}}
  <title>
    {{#post}}{{#title}}{{title}} •{{/title}}{{/post}}
    {{#index}}{{!intentionally left blank}}{{/index}}
    {{#pagination}}{{#t}}page {{number}}{{/t}} •{{/pagination}}
    {{#archive}}{{#t}}archive{{/t}} •{{/archive}}
    {{#linkblog}}{{#t}}linkblog{{/t}} •{{/linkblog}}
    {{blog.title}}
    {{#index}}{{#blog.author.name}}• {{blog.author.name}}{{/blog.author.name}}{{/index}}
  </title>
  <style type="text/css">
    {{> normalize.css}}
    {{> header.css}}
    {{> highlight.css}}
  </style>
  <noscript>
    <style type="text/css">
      #theme-switcher, article a.future-frame:after {
        display: none;
      }
    </style>
  </noscript>
  <script type="text/javascript">
    {{> polyfills.js}}
  </script>
  <script type="text/javascript">
    {{> header.js}}
  </script>
  <script type="text/javascript">
    {{> slash-search.js}}
    ;window["slash-search"]('input[name="q"]');
  </script>
</head>
<body>
  <header>
    {{#post}}
      <h2>
        <a href="{{{blog.url}}}">{{blog.title}}</a>
        {{^htmlTitle}}
          {{^internal}}
            <span class="print:hidden">&nbsp;/&nbsp;<span><a href="{{{url}}}" class="print:hidden">&infin;</a>
          {{/internal}}
        {{/htmlTitle}}
      </h2>
    {{/post}}
    {{^post}}
      {{#index}}
        <h1>
          <a href="{{{blog.url}}}">{{blog.title}}</a>
        </h1>
      {{/index}}
      {{#pagination}}
        <h2>
          <a href="{{{blog.url}}}">{{blog.title}}</a>
          &nbsp;<span>/ <a href="{{{url}}}">{{#t}}page {{number}}{{/t}}</a></span>
        </h2>
      {{/pagination}}
      {{#archive}}
        <h2>
          <a href="{{{blog.url}}}">{{blog.title}}</a>
          &nbsp;<span>/ <a href="{{{url}}}">{{#t}}archive{{/t}}</a></span>
        </h2>
      {{/archive}}
      {{#linkblog}}
        <h2>
          <a href="{{{blog.url}}}">{{blog.title}}</a>
          &nbsp;<span>/ <a href="{{{url}}}">{{#t}}linkblog{{/t}}</a></span>
        </h2>
      {{/linkblog}}
    {{/post}}

      <form id="theme-switcher" action="javascript:void(0)">
        <label title="{{#t}}Dark theme{{/t}}" role="checkbox" aria-checked="false" tabindex="0">
          <input type="checkbox" name="theme-switcher" value="dark" aria-label="{{#t}}Dark theme{{/t}}">
          {{#fas}}moon{{/fas}}
        </label>
        <label title="{{#t}}Light theme{{/t}}" role="checkbox" aria-checked="false" tabindex="0">
          <input type="checkbox" name="theme-switcher" value="light" aria-label="{{#t}}Light theme{{/t}}">
          {{#fas}}sun{{/fas}}
        </label>
      </form>
  </header>
  <main>
