<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" xmlns:og="http://opengraphprotocol.org/schema/">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="alternate" type="application/rss+xml" title="{{ blog.feed.description }}" href="{{{ blog.feed.url }}}" />
  <link rel="icon" type="image/png" href="{{ blog.static.favicon.png }}" />
  <link rel="mask-icon" href="{{ blog.static.mask-icon.svg }}" color="#00a500" />
  <link href="https://twitter.com/zemlanin" rel="me">
  <link href="https://github.com/zemlanin" rel="me">
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:creator" content="@zemlanin" />
  <meta property="og:site_name" content="{{blog.title}}">
  {{#post}}
    {{#opengraph}}
      <meta property="og:url" content="{{{url}}}" />
      <meta property="og:title" content="{{title}}" />
      {{#description}}
        <meta property="og:description" content="{{description}}" />
      {{/description}}
      {{#image}}
        <meta property="og:image" content="{{{image}}}" />
        <meta property="twitter:card" content="summary_large_image" />
      {{/image}}
    {{/opengraph}}
  {{/post}}
  <title>
    {{#title}}{{title}} - {{/title}}
    {{blog.title}}
  </title>
  <style type="text/css">
    {{> header.css}}
    {{> highlight.css}}
  </style>
  <script type="text/javascript">
    {{> header.js}}
  </script>
  {{> gauges }}
</head>
<body>
  <header>
    {{#post}}
      <h2>
        <a href="{{{blog.url}}}">{{blog.title}}</a>
        <span class="print:hidden">&nbsp;/&nbsp;<span><a href="{{{url}}}" class="print:hidden">&infin;</a>
      </h2>
    {{/post}}
    {{^post}}
      {{#index}}
        <h1>
          <a href="{{{blog.url}}}">{{blog.title}}</a>
        </h1>
      {{/index}}
      {{^index}}
        <h2>
          <a href="{{{blog.url}}}">{{blog.title}}</a>
          {{#title}}&nbsp;<span>/ <a href="{{{url}}}">{{title}}</a></span>{{/title}}
        </h2>
      {{/index}}
    {{/post}}

    <label>
      <input type="checkbox" id="night-mode" />
      <svg role='img' xmlns='http://www.w3.org/2000/svg' style="vertical-align: middle;" width="1em" height="1em" viewBox='0 0 512 512'><path fill='#888' d='{{fas.lightbulb}}'></path></svg>
    </label>
  </header>
  <main>
