{{> header}}

<section style="margin: 1em auto 3em; text-align: center;">
  <a href="{{{ blog.linklist.feed.url }}}" style="text-decoration: none">
    {{#t}}Follow via RSS{{/t}}
  </a>
</section>

{{#links}}
  <article>
    {{{html}}}
    <time datetime="{{created}}">
      <a href="{{{url}}}">
        {{createdDate}}
      </a>
    </time>
  </article>
{{/links}}

{{> footer}}
