{{> header}}

{{#posts}}
<article id="{{id}}">
  {{{htmlTitle}}}

  {{#longread}}
    {{{teaser}}}
  {{/longread}}
  {{^longread}}
    {{{html}}}
  {{/longread}}

  <time datetime="{{created}}">
    <a href="{{{url}}}" title="{{created}}">
      {{createdDate}}
    </a>
  </time>
</article>
{{/posts}}

{{> footer}}
