{{> header}}

{{#posts}}
<article id="{{id}}">
    {{{html}}}

    <time datetime="{{created}}">
        {{#imported}}
            {{#imported.url}}<a href="{{{url}}}">{{{icon}}}</a>{{/imported.url}}
            {{^imported.url}}{{{icon}}}{{/imported.url}}
        {{/imported}}
        <a href="{{{url}}}">
            {{created}}
        </a>
    </time>
</article>
{{/posts}}

{{> footer}}
