{{> header}}

{{#posts}}
<article id="{{id}}" {{#lang}}lang="{{lang}}"{{/lang}}>
  {{{htmlTitle}}}

  {{#longread}}
    {{{teaser}}}
  {{/longread}}
  {{^longread}}
    {{{html}}}
  {{/longread}}

  <div class="more-and-time">
    {{#longread}}
      <a href="{{{url}}}" class="more">{{more}} &rarr;</a>
    {{/longread}}
    <div style="flex-grow: 1; display: flex;"></div>
    <time datetime="{{created}}">
      <a href="{{{url}}}" title="{{created}}">
        {{createdDate}}
      </a>
    </time>
  </div>
</article>

{{# insertLinkblogAfterThis}}
<section class="linkblog-after-post">
  <ul>
    {{#links}}
      <li>
        <a href="{{url}}" target="_blank">
          <img
            loading="lazy"
            src="{{img.src}}"
            title="{{title}}"
            {{# img.alt}}
              alt="{{img.alt}}"
            {{/ img.alt}}
            {{^ img.alt}}
              alt="{{title}}"
            {{/ img.alt}}
            {{# img.width}}
              width="{{img.width}}"
            {{/ img.width}}
            {{# img.height}}
              height="{{img.height}}"
            {{/ img.height}}
          >
        </a>
      </li>
    {{/links}}
  </ul>
  <div class="anchor-wrapper">
    {{#blog}}<a href="{{linkblog.url}}">{{#t}}linkblog{{/t}} &rarr;</a>{{/blog}}
  </div>
</section>
{{/ insertLinkblogAfterThis}}
{{/posts}}

{{> footer}}
