{{> header}}

{{#post}}
<article>
    {{{html}}}

    <time datetime="{{created}}">
        {{#imported}}
            {{#imported.url}}<a href="{{url}}">{{{icon}}}</a>{{/imported.url}}
            {{^imported.url}}{{{icon}}}{{/imported.url}}
        {{/imported}}
        <a href="{{url}}">
            {{created}}
        </a>
    </time>
</article>
{{/post}}

{{> footer}}
