{{> header}}

{{#post}}
<article>
    {{{html}}}

    <time datetime="{{created}}">
        {{#imported}}
            {{#imported.url}}<a href="{{{url}}}">{{{icon}}}</a>{{/imported.url}}
            {{^imported.url}}{{{icon}}}{{/imported.url}}
        {{/imported}}
        <a href="{{{url}}}" title="{{created}}">
            {{createdDate}}
        </a>
    </time>
</article>
{{/post}}

{{> footer}}
