<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
<channel>
  <title>{{ blog.linkblog.title }}</title>
  <description>{{ blog.linkblog.feed.description }}</description>
  <link>{{{ blog.linkblog.url }}}</link>
  {{#blog.linkblog.feed.websub}}<link rel="hub" href="{{{ blog.linkblog.feed.websub }}}" />{{/blog.linkblog.feed.websub}}
  <pubDate>{{ pubDate }}</pubDate>
  <ttl>1800</ttl>
  <atom:link href="{{{ blog.linkblog.feed.url }}}" rel="self" type="application/rss+xml" />

  {{#links}}
    <item>
      {{#title}}<title>{{title}}</title>{{/title}}
      <description>
        {{html}}
      </description>
      <link>{{{url}}}</link>
      <guid isPermaLink="false">{{{id}}}</guid>
      <pubDate>{{createdUTC}}</pubDate>
    </item>
  {{/links}}
</channel>
</rss>
