<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
<channel>
  <title>{{ blog.title }}</title>
  <description>{{ blog.feed.description }}</description>
  <link>{{{ blog.url }}}</link>
  <pubDate>{{ pubDate }}</pubDate>
  <ttl>1800</ttl>
  <atom:link href="{{{ blog.feed.url }}}" rel="self" type="application/rss+xml" />

  {{#posts}}
    <item>
      {{#rss.title}}<title>{{rss.title}}</title>{{/rss.title}}
      <description>
        {{html}}
        {{^rss.title}}&lt;p&gt;&lt;a href&#x3D;&quot;{{url}}&quot;&gt;&amp;infin;&lt;&#x2F;a&gt;&lt;&#x2F;p&gt;{{/rss.title}}
      </description>
      <link>{{{url}}}</link>
      <guid isPermaLink="false">{{{id}}}</guid>
      <pubDate>{{createdUTC}}</pubDate>
    </item>
  {{/posts}}
</channel>
</rss>
