body {
  max-width: 40em;
  margin: auto;
  display: flex;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 20px;
  line-height: 1.58;
  padding-left: 0.75em;
  padding-right: 0.75em;
}

@supports (padding: max(0px)) {
  body {
    padding-left: max(0.75em, env(safe-area-inset-left));
    padding-right: max(0.75em, env(safe-area-inset-right));
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: #e3e3e3;
  }
}

body.dark {
  background-color: black;
  color: #e3e3e3;
}

body.light {
  background-color: white;
  color: black;
}

@media (max-width: 40em) {
  body {
    padding-bottom: 1em;
    font-size: 17px;
  }

  @supports (padding: max(0px)) {
    body {
      padding-bottom: max(1em, env(safe-area-inset-bottom));
    }
  }
}

h1,
h2,
h3 {
  margin: 0.5em 0;
  line-height: 1.3;
}

p {
  margin: 0.8em 0;
}

* {
  box-sizing: border-box;
}

nav,
footer {
  margin-bottom: 1em;
}

footer {
  text-align: center;
}

nav {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  word-break: break-word;
}

nav span {
  flex-basis: 0;
  flex-grow: 1;
}

a,
header a:visited,
footer a:visited {
  color: #00a500;
  -webkit-text-decoration-color: rgba(0, 165, 0, 0.6);
  text-decoration-color: rgba(0, 165, 0, 0.6);
}

@media (prefers-color-scheme: dark) {
  body a {
    -webkit-text-decoration-color: rgba(0, 165, 0, 0.8);
    text-decoration-color: rgba(0, 165, 0, 0.8);
  }
}

body.dark a {
  -webkit-text-decoration-color: rgba(0, 165, 0, 0.8);
  text-decoration-color: rgba(0, 165, 0, 0.8);
}

body.light a {
  -webkit-text-decoration-color: rgba(0, 165, 0, 0.6);
  text-decoration-color: rgba(0, 165, 0, 0.6);
}

header a,
nav a,
footer a {
  text-decoration: none;
}

nav a,
footer a {
  display: inline-block;
  padding-left: 1em;
  padding-right: 1em;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

header h1,
header h2 {
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  flex-flow: row wrap;
  word-break: break-all;
}

header h1 {
  font-size: 1.5em;
}

header h2 {
  font-size: 1.3em;
}

#night-mode {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

#night-mode input[type="radio"]:checked ~ * {
  color: #00a500;
}
