<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" xmlns:og="http://opengraphprotocol.org/schema/">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="alternate" type="application/rss+xml" title="{{ blog.feed.description }}" href="{{{ blog.feed.url }}}" />
  <link rel="icon" type="image/vnd.microsoft.icon" href="{{ blog.static.favicon.ico }}" />
  <link rel="icon" type="image/png" href="{{ blog.static.favicon.png }}" />
  <link rel="icon" type="image/svg+xml" href="{{ blog.static.favicon.svg }}" />
  <link rel="apple-touch-icon-precomposed" href="{{ blog.static.favicon.png }}" />
  <link rel="mask-icon" href="{{ blog.static.mask-icon.svg }}" color="#00a500" />
  <link href="https://twitter.com/zemlanin" rel="me">
  <link href="https://github.com/zemlanin" rel="me">
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:creator" content="@zemlanin" />
  <meta property="og:site_name" content="{{blog.title}}">
  <title>
    {{#title}}{{title}} - {{/title}}
    {{blog.title}}
  </title>
  <style type="text/css">
    {{> settings.css}}
  </style>
  <script type="text/javascript">
    {{> settings.js}}
  </script>
</head>
<body>
  <header>
    <h1>
      {{#title}}{{title}}{{/title}}
      {{^title}}&nbsp;{{/title}}
    </h1>
    <button onclick="window.close(); return false;" title="Close">
      <svg role='img' xmlns='http://www.w3.org/2000/svg' style="vertical-align: middle;" width="1.5em" height="1.5em" viewBox='{{fas.times.viewBox}}'><path fill='currentColor' d='{{fas.times}}'></path></svg>
    </button>
  </header>

  <form id="night-mode" action="javascript:void(0)">
    <label title="Night Mode: on">
      <input type="radio" name="night-mode" value="on">
      <svg role='img' xmlns='http://www.w3.org/2000/svg' style="vertical-align: middle;" width="3em" height="3em" viewBox='{{fas.moon.viewBox}}'><path fill='currentColor' d='{{fas.moon}}'></path></svg>
    </label>
    <label title="Night Mode: default">
      <input type="radio" name="night-mode" value="system" checked>
      <svg role='img' xmlns='http://www.w3.org/2000/svg' style="vertical-align: middle;" width="3em" height="3em" viewBox='{{far.circle.viewBox}}'><path fill='currentColor' d='{{far.circle}}'></path></svg>
    </label>
    <label title="Night Mode: default">
      <input type="radio" name="night-mode" value="off">
      <svg role='img' xmlns='http://www.w3.org/2000/svg' style="vertical-align: middle;" width="3em" height="3em" viewBox='{{fas.sun.viewBox}}'><path fill='currentColor' d='{{fas.sun}}'></path></svg>
    </label>
  </form>
</body>
</html>
